{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {% include "registration/head.html" %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration_done.css' %}">

</head>
<body>
    {% include "header_short.html" %}

    <main>

        <div class="main">
            <img src="{% static 'pic/success.png' %}" alt="">
            <h1 class="cim">
                Sikeresen kijelentkeztél!
            </h1>
            
            <div class="megj">
                Újbóli bejelentkezéshez kattints a folytatás gombra.
            </div>
        </div>
        
        
        <a href="{% url 'login' %}">
            <button type="submit" id="submitgomb">
                Folytatás
            </button>
        </a>
    </div>
    </main>

    {% include "footer.html" %}
</body>
</html>
