{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {% include "registration/head.html" %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    {% include "header_short.html" %}

    <main>
        <form method="POST" class="main" spellcheck="false">
            {% csrf_token %}
            <h1 class="cim">
                Bejelentkezés
            </h1>
            
            {% comment %}
            <div class="megj">
                Nincs még fiókja? 
                <a href="{{ domain }}/registration">
                    Fiók létrehozása
                </a>
            </div>
            {% endcomment %}
            
            <div id="emaildiv">
                <label id="emaillabel" for="emailinput">
                    Email cím
                </label>
                <input type="text" name="username" class="inputdata emailinput form-control" >
                <div class="hiba" id="rosszemail" id="emailcheck">
                    Hibás email cím!
                </div>
            </div>
            
            
            <div id="jelszodiv">
                <label id="jelszolabel" for="jelszoinput">
                    Jelszó
                </label>
                
                <a href="{% url 'password_reset' %}" id="jelszolink">
                    Elfelejtette jelszavát?
                </a>
                
                <input type="password" name="password" id="jelszoinput" class="inputdata form-control emailinput">
            </div>
            
            {% if form.errors %}
            <div class="hiba" id="bejelentkezesihiba">
                Nem egyezik a felhasználónév vagy a jelszó.
            </div>
            {% endif %}
            {% if next %}
            {% if user.is_authenticated %}
            <div class="hiba" id="bejelentkezesihiba">
                Az azonosított felhasználói fióknak nincs hozzáférése ehhez az oldalhoz.
            </div>
            {% endif %}
            {% endif %}
            
            <button type="submit" id="submitgomb">
                Tovább az oldalra
            </button>
            
            <input type="hidden" name="next" value="{{ next }}" />
            
        </form>
    </main>
        
    {% include "footer.html" %}
</body>
</html>
