<!DOCTYPE html>
<html lang="hu">
    {% include "registration/head.html" %}
<body>
    {% include "header_short.html" %}

    <main>    
        <article>
            {% if validlink %}
                <section>Új jelszó megadása és megerősítése.</section>
            
                <form method="post" action="">
                    {% csrf_token %}
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">Új jelszó:</label>
                        {{ form.new_password1 }}
                        
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">Új jelszó még egyszer:</label>
                        {{ form.new_password2 }}
                    <div class="button submitter" type="submit">Jelszó regisztrációja</div>
                </form>
            {% else %}
                <section>
                    <h2>Sikertelen jelszóbeállítás</h2>
                    <p>A jelszót helyreállító link érvénytelen, valószínűleg már felhasználták. <a href="{% url 'password_reset' %}">Új jelszó igénylése.</a></p>
                </section>
            {% endif %}
        </article>
    </main>

    {% include "30_footer.html" %}
</body>
</html>
