{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {% include "registration/head.html" %}
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
</head>
<body>
    {% include "header_short.html" %}


    {# MAIN #}

    <main>    
        <form method="POST" class="main" spellcheck="false">
            {% csrf_token %}
                <h1 class="cim">
                    Elfelejtette jelszavát?
                    </h1>
                
                <div class="megj">
                    Add meg regisztrált email címed, hogy az új jelszó generálásához a levelet elküldhessük!
                    </div>
                
                <div id="emaildiv">
                    <label id="emaillabel" for="emailinput">
                        Email cím
                        </label>
                    <input type="text" name="email" class="form-control emailinput" required>
                    <div class="hiba" id="rosszemail" id="emailcheck">
                        Hibás email cím!
                        </div>
                  </div>
                
                <div id="gombok">
                    <button type="submit" id="submitgomb">
                        Új jelszó kérése
                        </button>
                    <a href="{{ domain }}/accounts/login/">
                        <button type="button" id="visszagomb">
                            Vissza
                            </button>
                        </a>
                  </div>
        
                <input type="hidden" name="next" value="{{ next }}" />
                </form>
    </main>

    {% include "footer.html" %}
</body>
</html>
