<!DOCTYPE html>
<html lang="hu">
<head>
    {% include "registration/head.html" %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    {% include "header_short.html" %}

    <main>    
        <form method="POST" class="main" spellcheck="false">
            {% csrf_token %}
            {% if validlink %}
            <h1 class="cim">
                Új jelszó megadása
              </h1>
            
            <div class="megj">
                Kérjük adja meg új jelszavát!
              </div>
            
        <!-- JELSZÓ -->
        
            <div id="jelszo1" class="jelszo">
                <label for="jelszoinput">
                    Jelszó
                    </label>    
                <input type="password" name="new_password1" class="form-control jelszoinput" required>
              </div>
            
            <div id="jelszo2" class="jelszo">
                <label for="jelszoinput2">
                    Jelszó még egyszer
                    </label>    
                <input type="password" name="new_password2" class="form-control jelszoinput" required>
              </div>
            
            <ul id="passwordmonitor">
                <li id="teszt-minchar">Legalább 6 karakter</li>
                <li id="teszt-minszam">Legalább 1 szám</li>
                <li id="teszt-azonos">Jelszavak egyezése</li>
              </ul>
            <button type="submit" id="submitgomb">
                Jelszó megváltoztatása
              </button>
            {% else %}
            <h1 class="cim">Sikertelen jelszóbeállítás</h1>
            <div class="megj">A jelszót helyreállító link érvénytelen, valószínűleg már felhasználták. 
              <br><a href="{% url 'password_reset' %}">Új jelszó igénylése.</a>
            {% endif %}
    
        <!-- JELSZÓ VÉGE -->
        </form>
    </main>

    {% include "footer.html" %}
</body>
</html>
