<!DOCTYPE html>
<html lang="hu">
    {% include "registration/head.html" %}
<body>
    {% include "header_short.html" %}


    {# MAIN #}

    <main>    
        <article>
                    <!--begin::Form-->
                    <form method="POST" class="formclass" novalidate="novalidate" id="form" action="#">
                        <input type="hidden" name="csrfmiddlewaretoken" value="cGPshb8VxF7kPe03Quf3WovWoNOsLi2Uvn4Rm8MjksbdCWwoWhXxn4TPbfpnvkrV">
                        <div class="headerbox-kisebb">
                            <h1>Elfelejtett jelszó?</h1>
                            <div class="alszoveg">Add meg email címed a helyreállításhoz!
                            </div>
                        </div>
                        <div class="mb-5">
                            <label>Email cím</label>
                            <input class="inputdata" type="text" name="username" autocomplete="none" spellcheck="false">
                            
                        </div>
                       
                        

                        <div class="duplabutton">
                            <button type="submit" id="passreset" class="button1"> <!-- onclick="SendPass()"-->
                                <span class="indicator-label">Új jelszó kérése</span>
                            </button>
                            <a href="/" class="button2">Vissza</a>
                        </div>
                    <div></div></form>
                    <!--end::Form-->
                    
        </article>
    </main>

    {% include "footer.html" %}
</body>
</html>
