{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {% include "registration/head.html" %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration_done.css' %}">
</head>
<body>
    {% include "header_short.html" %}

    <main>

        <div class="main">
            <img src="{% static 'pic/success.png' %}" alt="">
            <h1 class="cim">
                Email elküldve!
            </h1>
            
            <div class="megj">
                Amennyiben van regisztráció rögzítve a megadott email-címen, 
            elküldtük emailben az instrukciókat az új jelszó beállításához. 
            Ha nem érkezne meg néhány percen belül, 
            érdemes megnézni a spam-ek közt.
        </div>
        
        
        <a href="/accounts/login/">
            <button type="submit" id="submitgomb">
                Tovább a bejelentkezéshez
            </button>
        </a>
    </div>
    </main>
    {% include "footer.html" %}
</body>
</html>


