{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {% include "registration/head.html" %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration_done.css' %}">
</head>
<body>
    {% include "header_short.html" %}

    <main>

        <div class="main">
            <img src="{% static 'pic/success.png' %}" alt="">
            <h1 class="cim">
                Jelszó sikeresen megváltoztatva!
            </h1>
        
        <a href="{% url 'login' %}" class="gomb">Bejelentkezés</a>
    </div>
    </main>
    {% include "footer.html" %}
</body>
</html>


