{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'inner_head.html' %}

  <title>Ellenőrző</title>

  {# CSS #}
  <link rel="stylesheet" href="{% static 'app_naplo/css/general.css' %}">
  <link rel="stylesheet" href="{% static 'css/general.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'app_naplo/css/ellenorzo.css' %}">
  <link rel="stylesheet" href="{% static 'app_naplo/css/ellenorzo_csoportvalaszto.css' %}">

  <link rel="stylesheet" href="{% static 'app_naplo/css/t_1_ellenorzo_csoportvalaszto.css' %}">


  {# JS #}

</head>

<body>
  <header><h1>Ellenőrző</h1></header>
  <nav>
    <h2>{{ cim }}</h2>
      <ul>
        {% if linkek|length == 1 %}
          {% for link in linkek %}
            {% if link %}
              {% if link.link %}
                <script>
                  window.location.href = "{{link.link}}";
                </script>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% else %}
          <ul>
            {% for link in linkek %}
              <li><a href="{{ link.link }}/">{{ link.nev }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
    
      </ul>
  </nav>
</body>

{% include 'footer.html' %}

</html>