{% load static %}
{% load csoportnaplo_templatefilters %}
{% load pontszotar %}

<!DOCTYPE html>
<html lang="en">

<head>  
  {% include 'inner_head.html' %}
  <title>Ellenőrző</title>
  <!-- <link rel="icon" href="https://raw.githubusercontent.com/MolnAtt/hazioldal/main/static/pic/favicon.ico" type="image/png" /> -->

  {# CSS #}
  <link rel="stylesheet" href="{% static 'app_naplo/css/general.css' %}">
  <link rel="stylesheet" href="{% static 'app_naplo/css/naplo_tablazat.css' %}">
  <link rel="stylesheet" href="{% static 'app_naplo/css/ellenorzo.css' %}">

  {# JS #}
  {% comment %} <script src="{% static 'app_naplo/js/rajz_framework/pont.js' %}" defer></script>
  <script src="{% static 'app_naplo/js/rajz_framework/vaszon.js' %}" defer></script>
  <script src="{% static 'app_naplo/js/ellenorzo_svg.js' %}" defer></script> {% endcomment %}
  <script src="{% static 'app_naplo/js/general.js' %}" defer></script>
  <script src="{% static 'app_naplo/js/fetch.js' %}" defer></script>
  <script src="{% static 'app_naplo/js/ellenorzo.js' %}" defer></script>

  <!-- MathJax -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>

</head>

<body>
  <header>
    <h1>Ellenőrző</h1>
    <h2>{{ tanulo.last_name }} {{tanulo.first_name}}</h2>
    <h3>{{ csoport.name }}</h3>
  </header>
  <main>
    <input type="hidden" id="osztaly_name" name="osztaly_name" value="{{ csoport.name }}">
    <table>
      <thead>
        <tr>
          <th>ismeretanyag</th>
          <th>pont</th>
          <th>%</th>
          <th>jegy</th>
          <th>súly</th>
          <th>e.súly</th>
          <th>dátum</th>
        </tr>
      </thead>
      <tbody>
        {% for sor in sorok %}
        <tr>
          <th class="nev"><a href="/{{ sor.slug }}">{{sor.nev}}</a></th>
          {% if sor.dolgozat_e %}
            <td class="pont">{{ sor.pont }}/{{ sor.maxpont }}</td>
          {% else %}
            <td class="pont"></td>  
          {% endif %}
          <td class="szazalek">{{ sor.szazalek|szepszazalek }}</td>
          <td class="jegy{{ sor.jegy|jegy2class }}">{{ sor.jegy }}</td>
          <td class="súly">{{ sor.suly }}</td>
          <td class="sulyvektor">
            {% if user.is_superuser %}
              <input 
                type="number" 
                min="0" 
                max="10" 
                step="0.5" 
                data-sorszam="{{ sor.matrixbeli_sorszam }}"
                data-slug="{{ sor.dolgozat_slug }}"
                {% if sor.dolgozat_e %}
                  data-melyik="dolgozat"
                  value="{% listaget sor.sulyvektor sor.matrixbeli_sorszam %}" 
                {% else %}
                  data-melyik="egyes"
                  value="{{ sor.egyeni_suly }}" 
                {% endif %}
              >
            {% else %}
              {% if sor.dolgozat_e %}
                {% listaget sor.sulyvektor sor.matrixbeli_sorszam %} 
              {% else %}
                {{ sor.egyeni_suly }}" 
              {% endif %}              
            {% endif %}  
          </td>
          <td class="datum">{{ sor.datumszoveg }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div id="osszegzes">
      <label>A fenti jegyek alapján az átlagod:</label>
      <div id="szamitas">$${{ osszegzes.latex_szamitas }} = {{ osszegzes.atlag|floatformat:2 }}$$</div>
    </div>

    <div id="lezaras">
      <div id="lezaras_jegy">
        Erre lettél lezárva: {% if lezaras.jegy == 6 %}5d{% else %}{{ lezaras.jegy }}{% endif %}
      </div>
      <div id="lezaras_szoveg">
        {{ lezaras.szoveg }}
      </div>
    </div>
    {% comment %}
    {% endcomment %}
  </main>
</body>

</html>