{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'inner_head.html' %}

  <title>Ellenőrző</title>
  <!-- <link rel="icon" href="https://raw.githubusercontent.com/MolnAtt/hazioldal/main/static/pic/favicon.ico" type="image/png" /> -->

  {# CSS #}
  <link rel="stylesheet" href="{% static 'app_naplo/css/general.css' %}">
  <link rel="stylesheet" href="{% static 'css/general.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'app_naplo/css/ellenorzo.css' %}">
  <link rel="stylesheet" href="{% static 'app_naplo/css/d_3_tanulo_dolgozata.css' %}">

  {# JS #}
  <script src="{% static 'app_naplo/js/svgrajz_framework/svgmatek.js' %}" defer></script>
  <script src="{% static 'app_naplo/js/svgrajz_framework/svgpont.js' %}" defer></script>
  <script src="{% static 'app_naplo/js/svgrajz_framework/svgvaszon.js' %}" defer></script>
  <script src="{% static 'app_naplo/js/boxplot.js' %}" defer></script>
  <script src="{% static 'app_naplo/js/fetch.js' %}" defer></script>

  <script src="{% static 'app_naplo/js/tanulo_dolgozata.js' %}" defer></script>
  <script src="{% static 'app_naplo/js/tanulo_dolgozata_svg.js' %}" defer></script>

</head>

<body>
  <header>
    <h1>Ellenőrző</h1>
    <h1>{{ a_user.last_name }} {{a_user.first_name}}</h1>
    <h1 id="h1"></h1>
    <h2 id="datum"></h2>
  </header>
  <main>
    <section id="📇">
      <h2>Értékelés</h2>
      <div class="grid-container">
        <div class="felirat">Súly:</div>
        <div id="ertekeles_suly" class="kiemeltszoveg"></div>
        <div class="felirat">Pont:</div>
        <div><span id="ertekeles_pont" class="kiemeltszoveg"></span>/<span id="ertekeles_maxpont"
            class="kiemeltszoveg"></span></div>
        <div class="felirat">Százalék:</div>
        <div><span id="ertekeles_szazalek" class="kiemeltszoveg"></span></div>
        <div class="felirat">Jegy:</div>
        <div id="ertekeles_jegy" class="kiemeltszoveg"></div>
      </div>
    </section>

    <section id="🏆">
      <h2>Ponthatárok</h2>
      <div class="grid-container">
        <div class="felirat">1</div>
        <div id="jegy1" class="kiemeltszoveg">0%</div>
        <div class="felirat">1/2</div>
        <div id="jegy12" class="kiemeltszoveg"></div>
        <div class="felirat">2</div>
        <div id="jegy2" class="kiemeltszoveg"></div>
        <div class="felirat">2/3</div>
        <div id="jegy23" class="kiemeltszoveg"></div>
        <div class="felirat">3</div>
        <div id="jegy3" class="kiemeltszoveg"></div>
        <div class="felirat">3/4</div>
        <div id="jegy34" class="kiemeltszoveg"></div>
        <div class="felirat">4</div>
        <div id="jegy4" class="kiemeltszoveg"></div>
        <div class="felirat">4/5</div>
        <div id="jegy45" class="kiemeltszoveg"></div>
        <div class="felirat">5</div>
        <div id="jegy5" class="kiemeltszoveg"></div>
        <div class="felirat">5*</div>
        <div id="jegy55" class="kiemeltszoveg"></div>
      </div>
    </section>

    <section id="📊">
      <h2>Statisztikai mutatók</h2>
      <div class="grid-container">
        <div class="felirat"></div>
        <div class="felirat fent">százalék</div>
        <div class="felirat fent">pont</div>
        <div class="felirat fent">jegy</div>
        <div class="felirat">Átlag</div>
        <div class="szazalek" id="atlag_szazalek"></div>
        <div class="pont" id="atlag_pont"></div>
        <div class="jegy" id="atlag_jegy"></div>
        <div class="felirat">Medián</div>
        <div class="szazalek" id="median_szazalek"></div>
        <div class="pont" id="median_pont"></div>
        <div class="jegy" id="median_jegy"></div>
        <div class="felirat">Módusz</div>
        <div class="szazalek" id="modusz_szazalek"></div>
        <div class="pont" id="modusz_pont"></div>
        <div class="jegy" id="modusz_jegy"></div>
        <div class="felirat"><span>Átlagtól</span><span>való</span><span>eltérésed</span></div>
        <div class="szazalek" id="atlagtol_valo_elteres_szazalek"></div>
        <div class="pont" id="atlagtol_valo_elteres_pont"></div>
        <div class="jegy" id="atlagtol_valo_elteres_jegy"></div>
        <div class="felirat"><span>Átlagos</span><span>abszolút</span><span>eltérés</span></div>
        <div class="szazalek" id="atlagos_abszolut_elteres_szazalek"></div>
        <div class="pont" id="atlagos_abszolut_elteres_pont"></div>
        <div class="jegy" id="atlagos_abszolut_elteres_jegy"></div>
        <div class="felirat">IQR</div>
        <div class="szazalek" id="IQR_szazalek"></div>
        <div class="pont" id="IQR_pont"></div>
        <div class="jegy" id="IQR_jegy"></div>
        <div class="felirat">szórás</div>
        <div class="szazalek" id="szoras_szazalek"></div>
        <div class="pont" id="szoras_pont"></div>
        <div class="jegy" id="szoras_jegy"></div>
      </div>
    </section>

    <section id="csoportiqr">
      <h2>Csoportközép eredményei</h2>
      <div class="grid-container">
        <svg style="background-color: #0d1117" id="svg-graph" viewBox="0 0 120 120" width="300" height="300"></svg>
      </div>
    </section>
    
    <section id="feladatstat">
      <h2>Feladatonkénti statisztikák</h2>
      <div class="grid-container">
        <svg id="boxplot_svg" width="200" height="200"></svg>
      </div>
    </section>
  </main>
  <input type="hidden" id="a_csoport" value="{{ a_dolgozat.osztaly.name }}" />
  <input type="hidden" id="a_dolgozatslug" value="{{ a_dolgozat.slug }}" />


  {% include 'footer.html' %}
</body>

</html>