<!DOCTYPE html>
{% load pontszotar %}
{% load auth_extras %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontok bevitele</title>



    {# CSS #}

    <link rel="stylesheet" href="{% static 'app_naplo/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'app_naplo/css/pontinput.css' %}">
    

    {# JS #}

    <script src="{% static 'app_naplo/js/general.js' %}" defer></script>
    <script src="{% static 'app_naplo/js/fetch.js' %}" defer></script>
    <script src="{% static 'app_naplo/js/pont.js' %}" defer></script>
</head>
<body>
    <input type="hidden" id="osztaly_name" name="osztaly_name" value="{{ a_dolgozat.osztaly.name }}">
    <input type="hidden" id="dolgozat_slug" name="dolgozat_slug" value="{{ a_dolgozat.slug }}">
    <header>
        <h1>
            {{ a_dolgozat.osztaly.name }}: {{ a_dolgozat.nev }} 
        </h1>
    </header>
    <main>
        <table>
            <tr class="feladatnevek">
                <th class="elsooszlop">NÉV</th>
                <th class="masodikoszlop">jegy</th>
                <th class="harmadikoszlop">%</th>
                <th class="negyedikikoszlop">pont</th>
                {% for feladatnev in a_dolgozat.feladatok %}
                <th class="feladatnev">{{ feladatnev }}</th>
                {% endfor %}
            </tr>
            {% for tanulo in a_dolgozat.tanuloi %}
            <tr>
                <td class="elsooszlop">
                    {{tanulo.last_name}} {{tanulo.first_name}}
                </td>
                <td class="egyenisuly">
                    <input type="number" min="0" max="1" step="0.5" class="sulyinput" id="suly-{{ forloop.counter0 }}" value="{% listaget a_dolgozat.sulyvektor forloop.counter0 %}">
                </td>
                <td class="masodikoszlop">{% getget ertekeloszotar tanulo 'jegy' %}</td>
                <td class="harmadikoszlop">{% getget ertekeloszotar tanulo 'szazalek' %}</td>
                <td class="negyedikikoszlop">{% getget ertekeloszotar tanulo 'pont' %}</td>
                {% for feladat in a_dolgozat.feladatok %}
                <td>
                    <input type="text" class="pontinput" id="{{forloop.parentloop.counter0}}-{{forloop.counter0}}" value="{% getget dolgozatszotar tanulo.username feladat %}">
                    {% comment %} <input type="text" class="pontinput" id="{{tanulo.id}}-{{forloop.counter0}}" value="{% getget dolgozatszotar tanulo.username feladat %}"> {% endcomment %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr class="feladatmaximumok">
                <td class="elsooszlop">feladatmaximumok</td>
                <td class="masodikoszlop"></td>
                <td class="harmadikoszlop"></td>
                <td class="negyedikoszlop"></td>
                {% for feladatnev in a_dolgozat.feladatok %}
                <td>/{% listaget a_dolgozat.feladatmaximumok forloop.counter0 %}</td>
                {% endfor %}
            </tr>
            <tr class="atlagok">
                <td class="elsooszlop">átlagok</td>
                <td class="masodikoszlop"></td>
                <td class="harmadikoszlop"></td>
                <td class="negyedikoszlop"></td>
                {% for feladatnev in a_dolgozat.feladatok %}
                <td>{% listaget atlagok forloop.counter0 %}</td>
                {% endfor %}
            </tr>
            <tr class="medianok">
                <td class="elsooszlop">mediánok</td>
                <td class="masodikoszlop"></td>
                <td class="harmadikoszlop"></td>
                <td class="negyedikoszlop"></td>
                {% for feladatnev in a_dolgozat.feladatok %}
                <td>{% listaget medianok forloop.counter0 %}</td>
                {% endfor %}
            </tr>
            <tr class="minimumok">
                <td class="elsooszlop">minimumok</td>
                <td class="masodikoszlop"></td>
                <td class="harmadikoszlop"></td>
                <td class="negyedikoszlop"></td>
                {% for feladatnev in a_dolgozat.feladatok %}
                <td>{% listaget minimumok forloop.counter0 %}</td>
                {% endfor %}
            </tr>
            <tr class="maximumok">
                <td class="elsooszlop">maximumok</td>
                <td class="masodikoszlop"></td>
                <td class="harmadikoszlop"></td>
                <td class="negyedikoszlop"></td>
                {% for feladatnev in a_dolgozat.feladatok %}
                <td>{% listaget maximumok forloop.counter0 %}</td>
                {% endfor %}
            </tr>
            
        </table>

        {# PONTHATÁROK #}
        <table>
            <tr>
                <th>jegy</th><th>szazalékhatár</th><th>ponthatárepszilon</th>
            </tr>
            <tr>
                <th>2</th>
                <td><input type="text" class="ponthatar" id="ponthatar_2" value="{{ a_dolgozat.kettes_ponthatar }}"></td>
                <td><input type="text" class="ponthatar" id="ponthatar_12" value="{{ a_dolgozat.egyketted_hatar }}"></td>
            </tr>
            <tr>
                <th>3</th>
                <td><input type="text" class="ponthatar" id="ponthatar_3" value="{{ a_dolgozat.harmas_ponthatar }}"></td>
                <td><input type="text" class="ponthatar" id="ponthatar_23" value="{{ a_dolgozat.ketharmad_hatar }}"></td>
            </tr>
            <tr>
                <th>4</th>
                <td><input type="text" class="ponthatar" id="ponthatar_4" value="{{ a_dolgozat.negyes_ponthatar }}"></td>
                <td><input type="text" class="ponthatar" id="ponthatar_34" value="{{ a_dolgozat.haromnegyed_hatar }}"></td>
            </tr>
            <tr>
                <th>5</th>
                <td><input type="text" class="ponthatar" id="ponthatar_5" value="{{ a_dolgozat.otos_ponthatar }}"></td>
                <td><input type="text" class="ponthatar" id="ponthatar_45" value="{{ a_dolgozat.negyotod_hatar }}"></td>
            </tr>
            <tr>
                <th>5*</th>
                <td><input type="text" class="ponthatar" id="ponthatar_55" value="{{ a_dolgozat.duplaotos_ponthatar  }}"></td>
                <td><button id="ponthatargomb">Update</button></td>
            </tr>
        </table>
        
        {# IMPORT - EXPORT #}

        <ul>
            <li><a href="/naplo/dolgozat/{{a_dolgozat.osztaly.name}}/{{a_dolgozat.slug}}/"><button>Import (tsv)</button></a></li>
            <li><a href="download/" download="{{a_dolgozat.osztaly.name}}_{{a_dolgozat.slug}}.json"><button>Export (json)</button></a></li>
        </ul>
    </main>
</body>
</html>