{% load static %}
{% load pontszotar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felhasználók hozzáadása</title>

    {# CSS #}
    <link rel="stylesheet" href="{% static 'app_naplo/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'app_naplo/css/tanulo_dolgozata.css' %}">

    {# JS #}
    <script src="{% static 'app_naplo//js/rajz_framework/pont.js' %}" defer></script>
    <script src="{% static 'app_naplo//js/rajz_framework/vaszon.js' %}" defer></script>
    <script src="{% static 'app_naplo//js/fetch.js' %}" defer></script>
    <script src="{% static 'app_naplo//js/tanulo_dolgozata.js' %}" defer></script>

</head>
<body>
    <header><h1>{{ a_dolgozat.nev }}</h1></header>
    
    <canvas id="canvaselem" width="700" height="500" style="border:1px solid #c3c3c3;">
        Your browser does not support the canvas element.
    </canvas>

    <canvas id="canvaselem2" width="700" height="500" style="border:1px solid #c3c3c3;">
        Your browser does not support the canvas element.
    </canvas>

    {% for csoport in csoportok %}
        <input type="hidden" class="csoport" value="{{ csoport }}">
    {% endfor %}
    <input type="hidden" id="dolgozatslug" value="{{ dolgozat.slug }}">
</body>
</html>