{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felhasználók hozzáadása</title>

    {# CSS #}
    <link rel="stylesheet" href="{% static 'app_naplo/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'app_naplo/css/valaszto.css' %}">

    {# JS #}

</head>
<body>
    <header><h1>{{ cim }}</h1></header>
    <nav>
        <ul>
            {% for link in linkek %}
            <li><a href="{{link.link}}/">{{link.nev}}</a></li>
            {% endfor %}
        </ul>
    </nav>
</body>
</html>