/* email-doboz */

#emaillabel{grid-area: emaillabel;}
#emailinput{grid-area: emailinput;}
#rosszemail{grid-area: rosszemail;}

#emaildiv{
    width:100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "emaillabel"
    "emailinput"
    "rosszemail";
    margin-bottom: 1.3rem!important;
}

.bg{
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height:calc(100% - 60px);
    top: 60px;
    background: radial-gradient(ellipse at bottom, #12171e 0%, #0d1117 68%);
    z-index: -1;
} 
/* jelszó-doboz */

#jelszolabel{grid-area: jelszolabel;}


#jelszolink{    
    grid-area: jelszolink;  
    justify-self: end;
    font-size: 0.9rem;
    text-align:right;
    color:var(--sema-kek-color);
}
#jelszolink:hover{
    color: var(--sema-kek-hover-color);
}

#jelszoinput{grid-area: jelszoinput;}

#jelszodiv{
    width:100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "jelszolabel jelszolink"
    "jelszoinput jelszoinput";
    margin-bottom: 15px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#submitgomb{
    width: 100%;
}

* {
    margin:0;
    padding:0;
}

:root{
    --piros: rgb(220, 53, 69);
    --zold: rgb(25,135,84);
    --lila: rgba(165,54,255, 0.65625);
    --piros2: rgba(218, 47, 47, 0.65625);
    --kek: #3699ff;
}


body {
    margin-bottom:50px;
    background-color:#0d1117;
    font-size: 13px;
    font-weight: 400;
    font-family: Poppins, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

main{
    margin-top:100px;
    display:grid;
    justify-content: center;
}


form {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: [a specializált css-ek állítják be] */
    box-shadow: 0 0px 25px -7px #000000e8;
    padding: 3.25rem;
    width: 510px !important;
    background-color: #161b22;
    border-radius: .475rem;
    margin-bottom: 100px;
}

h1 {
    width: 100%;
    grid-area: cim;
    color: white;
    font-size: 1.45rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 2.5rem!important;
    text-align: center;
}

.megj a{
    white-space: nowrap; /* hogy ne törje meg a "fiók létrehozása"-t */
}
.cimkicsi{
    margin-bottom: 10px!important;
    margin-top: 6px!important;
}



label {
    font-weight: 500 !important;
    color: #fff !important;
    font-size: 0.90rem !important;
}

a {
    text-decoration: none;
    color:#3699ff;
    font-weight: 600;    
}

a:hover {
    transition: .15s;
    cursor: pointer;
}

.megj {
    width:100%;
    grid-area: nincsfiok;
    color:#474761;
    text-align:center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}


.a_email{
    font-size: 9pt;
    color:#474761;
    font-family:'Courier New', Courier, monospace;

}

.a_email:hover{
    color:white;
    transition: 0.3s;

}


input[type="text"],input[type="password"] {
    background-color: #2e2e36;
    border-color: #1b1b29;
    color: #e9e9e9;
    transition: color .2s ease, background-color .2s ease;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.4;
    background-clip: padding-box;
    border: none;
    appearance: none;
    border-radius: .475rem;
    min-height: 2.6rem;
    box-shadow: none;
    margin-top: 4px;
}
.inputdata:focus{
    outline: 0;
    box-shadow: none;
    background-color: #e8f0fe!important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.inputdata:hover{
    background-color: #ffffff30;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


button{
    margin-top:1.5rem;
    padding: calc(.825rem + 1px) calc(1.75rem + 1px);
    border:0;
    box-shadow: none;
    cursor: pointer;
    background-color: var(--sema-kek-color);
    border-radius: .475rem;
    line-height: 1.5;
    color: black;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .75rem 1.5rem;
    border-radius: .475rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 0.93rem !important;
    font-weight: 500;
    font-family: Poppins, Helvetica, sans-serif;
}

button:hover{
    background-color: var(--sema-kek-hover-color);
}

.hiba{
    color:#dc3545;
    justify-self: start;
}

.lathatatlan{
    display: none;
}

