{% load static %}

<link rel="stylesheet" href="{% static 'css/general.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/colors.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile2.css' %}">


<div id="modal-overlay"></div>

<div id="modal">
    <div id="modal-content">
        <h2 id="modal-title">Modal Címe</h2>
        <p id="modal-message">Modal Üzenete<br>Ha ezt a szöveget látod, akkor a weboldal befuccsolt, ugyanis nem cserélte ki ezt a feliratot a megfelelő üzenetre.</p>
        <button id="close-modal-btn">Bezárás</button>
    </div>
</div>