:root{
    --body-bg-color: #010f22;
    --body-fg-color: #D9FAFF;
    --fg-hover-color: #00BBF0;

    --header-bg-color:#010f22;
    --header-fg-color: #D9FAFF;
    --header-height:60px;

    --main-bg-color: #010f22;
    --main-fg-color: #D9FAFF;


    --textbox-bg-color: #010f22;
    --textbox-fg-color: #D9FAFF;

    --main-bg-hover-color: #D9FAFF;
    --main-fg-hover-color: #010f22;

    --gomb-bg-color: #010f22;
    --gomb-fg-color: #D9FAFF;
    --gomb-bg-hover-color: #010f22;
    --gomb-fg-hover-color: #00BBF0;

    --section-bg-color: #010f22;
    --section-fg-color: #D9FAFF;

    --line-color: #D9FAFF;
    --line-width: 2px;

    --footer-bg-color: #010f22;
    --footer-fg-color: #D9FAFF;
    --footer-height:40px;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:var(--body-bg-color);
    color:var(--body-fg-color);
    font-family: 'Roboto Slab', serif;
    margin: 0 0 4em 0;
}

