/* HEADER */

header a {
    text-decoration: none;
    color: var(--header-fg-color);
}

header{
    display:grid;
    grid-auto-rows: auto;
    grid-template-columns: calc(50% - 25px) 50px calc(50% - 25px);
    background-color:var(--header-bg-color);
    color: var(--header-fg-color);
    /* border-bottom: solid var(--line-width) var(--header-fg-color); */
    padding: 5px 5px;
    height:var(--header-height);
}

.grid{
    margin-top:auto;
    margin-bottom:auto;
    
}
#nav1{
    display:flex;
    justify-content: flex-end;
    padding-right: 20px;

}
#nav2{
    display:flex;
    justify-content: flex-start;
    padding-left: 20px;
}
img{
    width:50px;
    
}
.fokep{
    display:flex;
    margin:auto;
}
header .logout{
    display: flex;
    margin:auto;
}

nav{
}

nav ul{
    display: flex;
    justify-content: start;
}

nav ul li{
    list-style: none;
    padding-right: 20px;
    font-size: 18px;
}

nav ul li a{
    padding:0px 5px;
}

nav ul li a:hover, header a:hover{
    color: var(--fg-hover-color);
    transition: 0.3s;
}
