.kektext{
    color: var(--sema-kek-color);
}
.kekbg{
    background-color: var(--sema-kek-color);
}
.kekbg:hover{
    background-color:var(--sema-kek-hover-color);
    cursor:pointer;
}


.narancstext{
    color: var(--sema-narancs-color);
}
.narancsbg{
    background-color: var(--sema-narancs-color);
}
.narancsbg:hover{
    background-color:var(--sema-narancs-hover-color);
    cursor:pointer;
}

.pirostext {
    color: var(--sema-piros-color);
}

.pirosbg {
    background-color: var(--sema-piros-color);
}

.pirosbg:hover {
    background-color: var(--sema-piros-hover-color);
    cursor:pointer;
}