.bg{
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height:calc(100% - 60px);
    top: 60px;
    background: radial-gradient(ellipse at bottom, #12171e 0%, #0d1117 68%);
    z-index: -1;
} 
.belsodiv{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 0px 25px -7px #000000e8;
    padding: 3.25rem;
    width: 50%;
    background-color: #161b22;
    border-radius: 0.475rem;
    margin-bottom: 100px;
}
.kozszolg{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 0px 25px -7px #000000e8;
    padding: 1rem;
    width: 50%;
    background-color: #161b22;
    border-radius: 0.475rem;
    margin-bottom: 100px;
}
details[open] summary {
    margin-bottom: 1rem;
}
.kozszolg-preview {
    opacity: 0.5;
}
.main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
h1 {
    width: 100%;
    grid-area: cim;
    color: white;
    font-size: 1.45rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 2.5rem!important;
    text-align: center;
}
.github{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "gitlabel"
        "gitusername";
    margin-bottom: 1.3rem!important;
}
.github input{
    width: 100%;
}

.checkboxes{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "check1_label"
        "check1";
    margin-bottom: 1.3rem!important;
}
.gombok{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    column-gap: 25px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

label{
    font-size: 14px;
    margin-bottom: 2px;
}
button{
    margin-top: 1.5rem;
    padding: calc(0.825rem + 1px) calc(1.75rem + 1px);
    border: 0;
    box-shadow: none;
    cursor: pointer;
    background-color: var(--sema-kek-color);
    border-radius: 0.475rem;
    line-height: 1.5;
    color: black;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px 18px;
    border-radius: 0.475rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 0.93rem !important;
    font-weight: 500;
    font-family: Poppins, Helvetica, sans-serif;
    text-transform: none;
}
#logout{

    background-color: #482121;
    color: #ff3636;
}
#update:hover {
    background-color: var(--sema-kek-hover-color);
}
#logout:hover {
    background-color: #ff3636;
    color: white;
}


input[type="text"], textarea {
    font-family: Poppins, Helvetica, sans-serif;
}
.inputdata {
    margin-top: 0.1rem;
    background-color: #2e2e36;
    border-color: #1b1b29;
    color: #e9e9e9;
    transition: color .2s ease, background-color .2s ease;
    width: 30rem;
    padding: 9px;
    background-clip: padding-box;
    border: 1px solid #161b22;
    appearance: none;
    border-radius: 0.475rem;
    min-height: 0.4rem;
    box-shadow: none!important;
    font-size: 14px;
    font-weight: 450;
}
.inputdata:focus {
    outline: 0;
    box-shadow: none;
    background-color: #ffffffd4!important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #212529;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.toggle {
    height: 32px;
    width: 52px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: transparent;
    transition: all 0.2s ease;
}
.toggle:checked {
    border-color: var(--sema-kek-color);
}
input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
input[type="checkbox"]:focus{
  outline: 0;
}
.toggle:checked:after {
    transform: translatex(20px);
}
.toggle:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgb(44 44 44 / 20%);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.badge {
    padding: 2px 0.5rem 2px 0.5rem;
    color: white;
    background-color: var(--sema-kek-color);
    border-radius: 0.3rem;
    font-size: 12px;
}

.greenbadge {

    color: rgba(24, 204, 4, 1);
    background-color: rgba(24, 204, 4, 0.2);
}


@media screen and (max-width: 940px){
    main {
        margin-top: 40px;
    }
    h1 {
        font-size: 1.1rem;
        margin-bottom: 1.6rem!important;
    }
    label {
        font-size: 0.75rem!important;
    }
    .form-control {
        font-size: 0.7rem!important;
        height: 2.3rem;
        min-height: 2rem!important;
    }
    #update, #logout {
        font-size: 0.8rem!important;
    }
    button {
        margin-top: 0.6rem;
        padding: 0.5rem 1.5rem
    }
    .belsodiv{
        padding: 2.4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        width: calc(100% - 100px )!important;
        max-width: 510px;
        margin: auto;
        margin-bottom: 70px;
    }
    .bg{
        top: 50px;
        min-height: calc(100% - 50px);
    }
    .inputdata{
        font-size: 12px;
        width: calc(100% - 20px);
    }
}
@media screen and (max-width: 450px){
    button{
        padding: 0.5rem 0.7rem;
    }

}
/* Menusor */
.mobile-bar{
    position: fixed;
    z-index: 10;
    right: -45%;
    padding-top: 18px;
    width: 45%;
    height: 100%;
    overflow: hidden;
    background-color:#22262c;
}

.show{
    display: block;
}
.mobile-cim{
    font-size: 15px;
    padding-left: 18px;
    font-weight: 500!important;
    margin-top: 20px;
}
.mobile-cim-bar{
    width: 30%;
    height: 3px;
    border-radius: 20px;
    margin: auto;
}
.mobile-option{
    color:#8d8686;
    font-size: 14px;
    font-weight: 400;
    padding:2px 0px 0px 32px;
    display: flex;
    height: 30px;
    align-items: center;
    text-decoration: none;
}
.mobile-option.highlightcurrent {
    color:rgb(213, 213, 213);
    text-decoration: underline;
}
.mobile-option span:nth-child(2){
    display: flex;
    align-items: center;
}

.mobile-options{
    display: flex;
    flex-direction: column;
}
.option-bullet{
    width: 4px;
    align-self: center;
    display: flex;
    margin-right: 10px;
    height: 4px;
    border-radius: 100%!important;

}
.mobile-text{
    min-width: 30px;
    background-color: #363942;
    border-radius: 20px;
    display: inline-block;
    /* margin: 2px; */
    margin-left: 5px;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
}
.mobile-nev{
    color: #d7cccc;
    margin: auto;
    font-size: 19px;
    /* margin-top: -20px; */
    font-weight: 500;
    padding-bottom: 28px;
    text-align: center;
}