.formhatter {
    margin-bottom: 28px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 40rem;
    scroll-behavior: smooth;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    background-color: #161b22;
    box-shadow: 0 0px 25px -7px #000000e8;
}

.menusor {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

h2 {
    width: 100%;
    color: white;
    font-size: 1.45rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

h3 {
    width: 100%;
    color: lightsalmon;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 2.5rem !important;
    text-align: center;
}

label {
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
}

.parameter {
    color: lightsalmon;
    margin: 1px;
    margin-left: 10px;
    background-color: rgb(20, 20, 26);
    padding: 10px;
    justify-self: end;
    border-radius: 3px;
}

input {
    background-color: #2e2e36;
    color: #e9e9e9;
    transition: color .2s ease, background-color .2s ease;
    font-size: 13px;
    font-weight: 400;
    font-family: Poppins, Helvetica, sans-serif;
    line-height: 1.4;
    background-clip: padding-box;
    border: none;
    appearance: none;
    border-radius: .475rem;
    height: 2.6rem;
    box-shadow: none;
    padding: 5px;
    margin-top: 4px;
    display: block;
    width: 45px;
}

select {
    background-color: #2e2e36;
    color: #e9e9e9;
    transition: color .2s ease, background-color .2s ease;
    font-size: 13px;
    font-weight: 400;
    font-family: Poppins, Helvetica, sans-serif;
    line-height: 1.4;
    background-clip: padding-box;
    border: none;
    appearance: none;
    border-radius: .475rem;
    height: 2.6rem;
    box-shadow: none;
    padding: 5px;
    margin-top: 4px;
    margin-left: 25px;
    width: 100%;
    display: block;
}

select:focus {
    outline: 0;
    box-shadow: none;
    color: black!important;
    background-color: #e8f0fe!important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select:hover {
    background-color: #ffffff30;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


textarea {
    background-color: #2e2e36;
    color: #e9e9e9;
    transition: color .2s ease, background-color .2s ease;
    font-size: 13px;
    font-weight: 400;
    font-family: Poppins, Helvetica, sans-serif;
    line-height: 1.4;
    background-clip: padding-box;
    border: none;
    appearance: none;
    border-radius: .475rem;
    height: 2.6rem;
    box-shadow: none;
    padding: 5px;
    margin-top: 4px;
    display: block;
    resize:none;
}

#indoklas-label {
    width: 300px;
}

button[type="submit"] {
    grid-column-end:  2;
    box-shadow: none;
    line-height: 1.5;
    color: black;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .75rem 1.5rem;
    border-radius: .475rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 0.93rem !important;
    font-weight: 500;
    font-family: Poppins, Helvetica, sans-serif;
    margin-top: 0.5rem;
}

form {
    display: grid;
}

.formfield:focus {
    outline: 0;
    box-shadow: none;
    color: black!important;
    background-color: #e8f0fe!important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.formfield:hover {
    background-color: #ffffff30;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

form:invalid button {
    pointer-events: none;
    opacity: 0.3;
}

.fullwidth {
    width: 100%;
}

.elfogadott {
    background-color: green;
}

.elutasitott {
    background-color: red;
}

.biralbutton {
    grid-column-end:  2;
    box-shadow: none;
    line-height: 1.5;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .75rem 1.5rem;
    border-radius: .475rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 0.93rem !important;
    font-weight: 500;
    font-family: Poppins, Helvetica, sans-serif;
    margin-top: 0.5rem;
    margin: 3px;
}