
.hf-container{
    margin: 30px auto 70px auto;
    width: 70%;
}
.hf-doboz{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #21262d !important;
    border-radius: 20px;
    padding: 10px 15px 12px 15px;
    max-width: calc(1920px / 110 * 50);
    display: grid;
    grid-template-columns: 70% 30%;
}
.hfgrid2{
    justify-self: right;
    padding-top: 4px;
}
.hf-nevdiv{
    margin-bottom: -4px;
}
.hf-nev{
    color:var(--sema-kek-color);
    font-weight: 450;
    font-size: 18px;
}
.hf-nev:first-letter{
    text-transform: capitalize;
}
.hf-temakor{
    color: #8b949e;
    font-size: 14px;
    padding-bottom: 4px;
}
.hf-feladva, .hf-hatido, .hf-tulaj{
    font-size: 14px;
    padding-right: 10px;
    color: #e9e9e9;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    height: 20px;
    padding-bottom: 2px;
}
.hf-repo{
    margin-top: 5px;
    font-size: 15px;
    color:#e9e9e9;
}

.hf-statusz{
    padding-bottom: 10px;
}
.hf-allapot{
    grid-column-start: 1;
    grid-column-end: span 3;
    text-align: center;
}

.hatralevoszam{
    color: var(--fg-hover-color);
} 
.hfgrid{
  
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.inputdata{
    margin-top: 0.1rem;
    background-color: #2e2e36;
    border-color: #1b1b29;
    color: #e9e9e9;
    transition: color .2s ease, background-color .2s ease;
    display: block;
    width: 30rem;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    background-clip: padding-box;
    border: 1px solid #161b22;
    appearance: none;
    border-radius: 0.475rem;
    min-height: 0.4rem;
    box-shadow: none!important;
}
.inputdata:active{
    background-color: #414146;
    border-color: #161b22;
    color: #e9e9e9;
    transition: color .2s ease, background-color .2s ease;
}
.w1{
    width: 10%!important;
}
.refresh{
    border: 0;
    color: black;
    border-color: #3699ff;
    width: 12rem;
    border-radius: 0.475rem;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-top: 2px;
}
.narancs{
    background-color: var(--sema-narancs-color);
}
.narancs:hover{
    background-color:var(--sema-narancs-hover-color);
}
.kek{
    background-color: var(--sema-kek-color);
}
.kek:hover{
    background-color:var(--sema-kek-hover-color);;
}

.nev-kek{
    color:var(--sema-kek-color);
    
}
.nev-kek:hover{
    cursor:pointer;
    color:var(--sema-kek-hover-color)
}
.nev-narancs{
    color:var(--sema-narancs-color);
}
.nev-narancs:hover{
    cursor:pointer;
    color:var(--sema-narancs-hover-color)
}
a{
    text-decoration: none;
}


button:hover{
    cursor:pointer;
}
button{
    font-size: 14px !important;
    font-weight: 500;
    font-family: Poppins, Helvetica, sans-serif;
    text-align: center;
}
.buttonflex{
    display: flex;
    column-gap: 10px;
    
}
input:focus{
    outline: none;
    background: #414146;
    color: #ffffff;
}
input{
    font-family: Poppins, Helvetica, sans-serif;
}

.icon{
    position: relative;
    top: 2px;
}
.lejart{
    color:#ff5454;
}