.hf-container {
    margin: 40px auto 80px auto;
    width: 70%;
}

.hf-link {
    display: block;
    text-decoration: none;
    color: inherit;
    max-width: calc(1920px / 110 * 35);
    margin: 0 auto;
}

.hf-doboz {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #21262d !important;
    border-radius: 12px;
    padding: 10px 15px 12px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    transition: 0.1s background-color;
}

.hf-doboz:hover {
    background-color: #171e29;
    transition: 0.1s background-color;
}

.hfgrid2 {
    justify-self: right;
    padding-top: 4px;
}

.hf-nevdiv {
    margin-bottom: -4px;
}

.hf-nev {
    color: var(--sema-kek-color);
    font-weight: 450;
    font-size: 18px;
    flex-grow: 10;
}

.hf-nev:first-letter {
    text-transform: capitalize;
}

.hf-temakor {
    color: #8b949e;
    font-size: 14px;
    padding-bottom: 4px;
}

.hf-feladva,
.hf-hatido,
.hf-tulaj {
    font-size: 14px;
    padding-right: 10px;
    color: #e9e9e9;
    height: 20px;
    padding-bottom: 2px;
}

.hf-repo {
    margin-top: 5px;
    font-size: 15px;
    color: #e9e9e9;
}

.hf-statusz {
    padding-bottom: 10px;
}

.hf-allapot {
    text-align: center;
}

.hatralevoszam {
    color: var(--fg-hover-color);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.inputdata {
    margin-top: 0.1rem;
    background-color: #2e2e36;
    border-color: #1b1b29;
    color: #e9e9e9;
    transition: color 0.2s ease, background-color 0.2s ease;
    display: block;
    width: 30rem;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    background-clip: padding-box;
    border: 1px solid #161b22;
    appearance: none;
    border-radius: 0.475rem;
    min-height: 0.4rem;
    box-shadow: none !important;
}

.inputdata:active {
    background-color: #414146;
    border-color: #161b22;
    color: #e9e9e9;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.w1 {
    width: 10% !important;
}

.refresh {
    border: 0;
    color: black;
    border-color: #3699ff;
    width: 12rem;
    border-radius: 0.475rem;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 2px;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

button {
    font-size: 14px !important;
    font-weight: 500;
    font-family: Poppins, Helvetica, sans-serif;
    text-align: center;
}

.buttonflex {
    display: flex;
    column-gap: 10px;
}

input:focus {
    outline: none;
    background: #414146;
    color: #ffffff;
}

input {
    font-family: Poppins, Helvetica, sans-serif;
}

.icon {
    position: relative;
    top: 2px;
}

.lejart {
    color: #ff5454;
}

.nincsfeladat-box {
    width: 100%;
    height: 400px;
    text-align: center;
    font-size: 17px;
}

.nincsfeladat-text {
    position: relative;
    top: 195px;
    margin: auto;
}

.notaskimg {
    filter: invert(100%);
    width: 150px;
    position: relative;
    text-align: 60px;
    top: 211px;
    right: -20px;
}

.bg {
    position: absolute;
    width: 100%;
    min-height: calc(100% - 60px);
    top: 60px;
    z-index: -1;
}

body {
    background: radial-gradient(ellipse at bottom, #12171e 0%, #0d1117 68%);
    background-attachment: fixed;
}

canvas {
    position: absolute;
    z-index: -1;
}

.hf-tulaj a {
    color: var(--sema-narancs-color);
}

.week-header {
    cursor: pointer;
    background-color: #21262d;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    border: 2px solid #21262d !important;
    border-radius: 12px;
    padding: 10px 15px 12px 15px;
    max-width: calc(1920px / 110 * 38);
    align-items: center;
    transition: 0.1s background-color;

    display: flex;
    align-items: center;
}

.week-header:hover {
    background-color: #505762;
    transition: 0.1s background-color;
}

.week-details {
    display: none;
}

.week-details.active {
    display: block;
}

.week-header:active {
    outline: none;
    background-color: #333e4e;
    transition: 0.1s background-color;
}

.hazi-icon {
    align-self: start;
    border-radius: 50%;
    flex-shrink: 0;
    height: 3rem;
    width: 3rem;
    background-color: var(--sema-kek-color);
    margin-right: 10px;
}

.donebg {
    background-color: green;
}

.hibasbg {
    background-color: rgb(184 0 0);
}

.hf-hatido {
    align-self:end;
    flex-grow: 1;
    text-align: right;
}

.hazi-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.acutal-hazi-icon {
    width: 35px;
    height: 35px;
}

.lejart-doboz {
    border-color: red;
    box-shadow: red 5px;
}

.flipped {
    transform: scaleY(-1);
    transition: 0.1s all;
}

.arrow-icon {
    transition: 0.1s all;
    margin-right: 10px;
}

.active-header {
    background-color: #161b22;
    transition: 0.1s background-color;
}

.uresoldal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.content {
    text-align: center;
    position: relative;
}

.content svg {
    margin-bottom: 20px;
}
