/* HEADER */
header a {
    text-decoration: none;
    color: var(--header-fg-color);
}

header{
    display:grid;
    grid-auto-rows: auto;
    grid-template-columns: calc(50% - 70px) 140px calc(42% - 70px) 8%;
    background-color:var(--header-bg-color);
    color: var(--header-fg-color);
    /* border-bottom: solid var(--line-width) var(--header-fg-color); */

    height:60px;
    position:fixed;
    top: 0px;
    width: 100%;
}
.grid{
    margin-top:auto;
    margin-bottom:auto;
    
}
.last{
    display: flex;
    justify-content: end!important;
}

#nav1{
    display:flex;
    justify-content: flex-end;
    padding-right: 15px;
}
#nav2{
    display:flex;
    justify-content: flex-start;
    padding-left: 15px;
}

.fokep{
    display:flex;
    margin:auto;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
header .logout{
    display: flex;
    margin:auto;
}

nav ul{
    display: flex;
    justify-content: start;
}
.active-sajat{
    border-bottom: 3px solid var(--sema-kek-color);
    color: var(--sema-kek-color);
    padding-bottom: 14px;
}
.active-mentor{
    border-bottom: 3px solid var(--sema-narancs-color);;
    color:var(--sema-narancs-color);
    padding-bottom: 14px;
}

.bal nav ul li{
    list-style: none;
    padding-left: 25px;
}
nav ul li{
    list-style: none;
    font-size: 18px;
}
.kozep nav ul li{
    list-style: none;
    padding-right: 25px;
}

nav ul li a{
    padding:0px 5px;
}

.mentorhover:hover{
    color:var(--sema-narancs-hover-color);
    transition: 0.3s;
}
.sajathover:hover{
    color: var(--sema-kek-hover-color);
    transition: 0.3s;
}

.adminhover:hover{
    color: #cf2929;
    transition: 0.3s;
}
.mobilview{
    display: none;
}
.fioktext{
    padding-right: 13px;
}

/* NOTIFICATION */



.notifications-count {
    height: 9px;
    color: white;
    text-align: center;
    line-height: 1;
    position: absolute;
    min-width: 10px;
    padding: 5px;
    margin-left: 1px;
    top: 14px;
    background-color: #363942;
    border-radius: 2em;
    transition: 0.3s cubic-bezier(0, 0.24, 0.86, 1.08) all;
    z-index: 1;
  }
  .text{
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: -5px;
  }
 



  /* MOBILE */
  @media screen and (max-width: 1175px){
      header{
        grid-template-columns: calc(50% - 70px) 140px calc(46% - 70px) 4%;
      }
  }

  @media screen and (max-width: 995px) {
      .grid{
          display: none;
      }
      .fokep{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
      }
      header{
          display: grid;
          grid-template-columns: calc(50% - 70px) 140px calc(50% - 70px) ;
          height: 47px;
      }
      .bal, .jobb{
          display: block;
          height: 100%;
      }
      .bal nav, .jobb nav{
          display: none!important;
      }
      .mobilview li {
        width: 30px;
        height: 4px;
        background-color: #cbcbcb;
        border-radius: 3px;
        margin-top: 5px;
        margin-bottom: 5px;
        list-style: none;
        position: relative;
        z-index: 1;
    }   
    .mobilview{
        display: flex;
        justify-content: flex-end;
        padding-right: 22px;
        height: 100%;
        align-items: center;
    }
    header img{
        height: 50px;
    }


}
