/* HEADER */
header a {
    text-decoration: none;
    color: var(--header-fg-color);
}

header{
    display:grid;
    grid-auto-rows: auto;
    grid-template-columns: calc(50% - 25px) 50px calc(35% - 25px) 15%;
    background-color:var(--header-bg-color);
    color: var(--header-fg-color);
    /* border-bottom: solid var(--line-width) var(--header-fg-color); */
    padding: 5px 5px;
    height:var(--header-height);
    position:fixed;
    top: 0px;
    width: 100%;
}
@media (max-width: 1500px) {
    header{
        grid-template-columns: calc(50% - 25px) 50px calc(42% - 25px) 8%;
    }
    .fiokicon{
        display: inline;
    }    
    .fioktext{
        display: none;
    }
}
@media (min-width: 1501px)
{
    .fiokicon{
        display: none;
    }    
    .fioktext{
        display: inline;
    }
}
.grid{
    margin-top:auto;
    margin-bottom:auto;
    
}
.last{
    display: flex;
    justify-content: end!important;
}

#nav1{
    display:flex;
    justify-content: flex-end;
    padding-right: 20px;

}
#nav2{
    display:flex;
    justify-content: flex-start;
    padding-left: 20px;
}
img{
    width:50px;
    
}
.fokep{
    display:flex;
    margin:auto;
}
header .logout{
    display: flex;
    margin:auto;
}

nav ul{
    display: flex;
    justify-content: start;
}
.active-sajat{
    border-bottom: 3px solid var(--sema-kek-color);
    color: var(--sema-kek-color);
    padding-bottom: 18px;
}
.active-mentor{
    border-bottom: 3px solid var(--sema-narancs-color);;
    color:var(--sema-narancs-color);
    padding-bottom: 18px;
}



nav ul li{
    list-style: none;
    padding-right: 22px;
    font-size: 18px;
}

nav ul li a{
    padding:0px 5px;
}

.mentorhover:hover{
    color: rgb(255,163,26);
    transition: 0.3s;
}
.sajathover:hover{
    color: #58a6ff;
    transition: 0.3s;
}

.adminhover:hover{
    color: #cf2929;
    transition: 0.3s;
}


/* NOTIFICATION */



.notifications-count {
    width: 10px;
    height: 10px;
    color: #fff;
    text-align: center;
    line-height: 1;
    position: absolute;
    padding: 5px;
    margin-left: 1px;
    top: 14px;
    background-color: #da3225;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0, 0.24, 0.86, 1.08) all;
    z-index: 1;
  }
  .text{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: -4px;
  }




  /* MOBILE */

  @media screen and (max-width: 940px) {
      .grid{
          display: none;
          margin-top: 5px;
      }
      .fokep{
        display: flex;
        justify-content: space-evenly;
      }
      header{
          display: block;
      }
  }