.forumhatter{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #21262d !important;
    border-radius: 12px;
    padding: 10px 25px 12px 25px;
    max-width: calc(1920px / 110 * 50);
    margin-bottom: 100px;
    scroll-behavior: smooth;
}

.separator{
    width: 100%;
    height: 5px;
    background-color: #333a44;
    border-radius: 6px;
    margin:auto;
}
.inputdata{
    margin-top: 0.1rem;
    background-color: #2e2e36;
    border-color: #1b1b29;
    color: #e9e9e9;
    transition: color .2s ease, background-color .2s ease;
    width: 30rem;
    padding: 9px;
    background-clip: padding-box;
    border: 1px solid #161b22;
    appearance: none;
    border-radius: 0.475rem;
    min-height: 0.4rem;
    box-shadow: none!important;
    font-size: 14px;
    font-weight: 450;
}
.sajat:focus {
    outline: 0;
    box-shadow: none;
    background-color: #ffffffd4!important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #212529;
}

.text-center{
    text-align: center;
}
.forumcim:first-letter{
    text-transform: capitalize;

}
.forumcim{
    margin-bottom: 25px;
    font-size: 1.9em;
    margin-top: 25px;
}

.menusor{
    font-size: 14px;
    margin-top: 9px;
}
.gomb{
    border: 0;
    color: black;
    border-color: #3699ff;
    width: 6rem;
    border-radius: 0.475rem;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-right: 3px;
}


.forumbutton{
    margin-top: 6px;
    margin-bottom: 9px;
}
.feladat{
    width: 18rem;
}
.separator{
    margin-bottom: 25px;
    margin-top: 25px;
}
.bubbleflex{
    display: grid;
}
.system{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.sys-message{
    font-size: 12px;
    margin: auto;
    color: #69717c;
    /* color: #333a44; */
    font-weight: 500;
    text-align: center;
    word-wrap: break-word;
    padding: 8px;
}
.sys-flex{
    display: grid;
    grid-template-rows: 35% 65%;
    padding: 8px;
    height: 52px;
}
.commitseperator{
    margin: 0;
    margin-top: 7px;
}

.bubble{
    background-color: #2e2e36;
    color: #9fa2a7;
    font-size: 0.8em;
    line-height: 1.75;
    margin-bottom: 54px;
    cursor: default;
    padding: 9px 25px 15px 25px;
    border-radius: 6px;
    width: fit-content;
    max-width: 70%;
    min-width: 240px;

}
.right{
    margin-left: auto; 
    margin-right: 0;
    border-left: 7px solid var(--sema-kek-color);
}
.left{
    margin-left: 0; 
    margin-right: auto;
    border-right: 7px solid var(--sema-narancs-color);
}

.right::after {
    content: "";
    margin-top: -30px;
    padding-top: 0px;
    position: relative;
    bottom: -45px;
    right: 20px;
    border-width: 30px 0 0 30px;
    border-style: solid;
    border-color: #2e2e36 transparent;
    display: block;
    float: right;
    width: 0;
}
.left::after {
    content: "";
    margin-top: -30px;
    padding-top: 0px;
    position: relative;
    bottom: -45px;
    left: 20px;
    border-width: 30px 30px 0 0;
    border-style: solid;
    border-color: #2e2e36 transparent;
    display: block;
    width: 0;
}
.username-right{
    padding-bottom: 4px;
    font-size: 1em;
    color: var(--sema-kek-color);

    font-weight: 500;
}
.username-left{
    text-align: left;
    padding-bottom: 4px;
    font-size: 1em;
    color: var(--sema-narancs-color);

    font-weight: 500;
}

.input-group-text{
    margin: auto;
    position:relative;
    top: 4px;
}


.chatflex{
    display: flex;
    flex-direction: column;
}
.dobozok{
    max-height: 471px;
    min-height: 200px;
    overflow-y: auto;
    margin-bottom: 5px;
    scroll-behavior: smooth;
}

.rejtett{
    display: none;
}
button {
    font-size: 14px !important;
    font-weight: 500;
    font-family: Poppins, Helvetica, sans-serif;
    text-align: center;
}
input[type="text"], textarea{
    font-family: Poppins, Helvetica, sans-serif;
}

/* Közös css*/
#mo-editor-textarea, #bi-editor-textarea{
    background-color: #2e2e36;
    border: 0 !important;
    color: white !important;
    width: calc(100% - 2rem)!important;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem; 
    border-radius: 14px 0px 0px 14px;
    resize: none;
    
    font-size: 14px!important;
    font-weight: 500;
}
#mo-editor-textarea:focus, #bi-editor-textarea:focus, select:focus, select:active{
    outline: 0;
    box-shadow: none;
    border: 0px;
}
#bi-itelet-select:focus{
    border-left: 1px solid #41414c!important;
}
.mo-editor-icon, .bi-editor-icon{
    background-color: #2e2e36;
    border-radius: 0px 14px 14px 0px;
    padding: 0.375rem 0.75rem;
    display: flex;
    cursor: pointer;

}

/* Megoldas */
.mo-ido{
    text-align: right;
    color: #333a44;
    font-weight: 600;
    font-size: 14px;
}
#mo-editor-flex{
    display: grid;
    grid-template-columns: 93% 7%;
    width: 100%;
    height: 49px;
}

/* Biralat */
.bi-ido{
    text-align: left;
    color: #333a44;
    font-weight: 600;
    font-size: 14px;
}
.bi-itelet{
    text-align: center;
    /* width: 300px; */
    margin-left: auto;
    color: black;
    background: #2e2e36;
    border-radius: 40px;
    /* height: 30px; */
    font-weight: 460;
    color: #0097fb;
    padding: 2px;
    margin-bottom: 20px;
    font-size: 15px;
}
.bi-itelet2{
    /* font-size: 14px; */
    font-weight: 600;
    margin-top: -4px;
}
.mobile{
    display: none;
}


#bi-editor-flex{
    display: grid;
    grid-template-columns: 75% 18% 7%;
    width: 100%;
    height: 49px;
}

#bi-itelet-select{
   background-color: #2e2e36;
   border: 0px;
   font-family: Poppins, Helvetica, sans-serif;
   font-weight: 500;
   text-align: center;
   font-size: 14px;
   color: #0bc30b;
   border-left: 1px solid #41414c;
}
 


option{
    color:#9fa2a7!important;
}

div::-webkit-scrollbar {
    width: 19px;
}
  
div::-webkit-scrollbar-thumb {
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #AAAAAA;
}

::-webkit-scrollbar-button {
    height: 12px;
} 

div::-webkit-scrollbar-track-piece {
    margin-top: 40px;
    margin-bottom: 40px;
}
.kisgomb{
    width: 44px;
    margin-right: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.disabled{
    background-color: #747474;
    cursor:default;
}

select {
    border: 0;
    outline: 0;
    background: transparent;
    border-image: none;
    outline-offset: -2px;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    cursor: pointer;
}
  

