pre { line-height: 125%; }
td.linenos .normal { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #e6edf3; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #e6edf3; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
.code .hll { background-color: #6e7681 }
.code { background: #0d1117; color: #e6edf3 }
.code .c { color: #8b949e; font-style: italic } /* Comment */
.code .err { color: #f85149 } /* Error */
.code .esc { color: #e6edf3 } /* Escape */
.code .g { color: #e6edf3 } /* Generic */
.code .k { color: #ff7b72 } /* Keyword */
.code .l { color: #a5d6ff } /* Literal */
.code .n { color: #e6edf3 } /* Name */
.code .o { color: #ff7b72; font-weight: bold } /* Operator */
.code .x { color: #e6edf3 } /* Other */
.code .p { color: #e6edf3 } /* Punctuation */
.code .ch { color: #8b949e; font-style: italic } /* Comment.Hashbang */
.code .cm { color: #8b949e; font-style: italic } /* Comment.Multiline */
.code .cp { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Preproc */
.code .cpf { color: #8b949e; font-style: italic } /* Comment.PreprocFile */
.code .c1 { color: #8b949e; font-style: italic } /* Comment.Single */
.code .cs { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Special */
.code .gd { color: #ffa198; background-color: #490202 } /* Generic.Deleted */
.code .ge { color: #e6edf3; font-style: italic } /* Generic.Emph */
.code .ges { color: #e6edf3; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.code .gr { color: #ffa198 } /* Generic.Error */
.code .gh { color: #79c0ff; font-weight: bold } /* Generic.Heading */
.code .gi { color: #56d364; background-color: #0f5323 } /* Generic.Inserted */
.code .go { color: #8b949e } /* Generic.Output */
.code .gp { color: #8b949e } /* Generic.Prompt */
.code .gs { color: #e6edf3; font-weight: bold } /* Generic.Strong */
.code .gu { color: #79c0ff } /* Generic.Subheading */
.code .gt { color: #ff7b72 } /* Generic.Traceback */
.code .g-Underline { color: #e6edf3; text-decoration: underline } /* Generic.Underline */
.code .kc { color: #79c0ff } /* Keyword.Constant */
.code .kd { color: #ff7b72 } /* Keyword.Declaration */
.code .kn { color: #ff7b72 } /* Keyword.Namespace */
.code .kp { color: #79c0ff } /* Keyword.Pseudo */
.code .kr { color: #ff7b72 } /* Keyword.Reserved */
.code .kt { color: #ff7b72 } /* Keyword.Type */
.code .ld { color: #79c0ff } /* Literal.Date */
.code .m { color: #a5d6ff } /* Literal.Number */
.code .s { color: #a5d6ff } /* Literal.String */
.code .na { color: #e6edf3 } /* Name.Attribute */
.code .nb { color: #e6edf3 } /* Name.Builtin */
.code .nc { color: #f0883e; font-weight: bold } /* Name.Class */
.code .no { color: #79c0ff; font-weight: bold } /* Name.Constant */
.code .nd { color: #d2a8ff; font-weight: bold } /* Name.Decorator */
.code .ni { color: #ffa657 } /* Name.Entity */
.code .ne { color: #f0883e; font-weight: bold } /* Name.Exception */
.code .nf { color: #d2a8ff; font-weight: bold } /* Name.Function */
.code .nl { color: #79c0ff; font-weight: bold } /* Name.Label */
.code .nn { color: #ff7b72 } /* Name.Namespace */
.code .nx { color: #e6edf3 } /* Name.Other */
.code .py { color: #79c0ff } /* Name.Property */
.code .nt { color: #7ee787 } /* Name.Tag */
.code .nv { color: #79c0ff } /* Name.Variable */
.code .ow { color: #ff7b72; font-weight: bold } /* Operator.Word */
.code .pm { color: #e6edf3 } /* Punctuation.Marker */
.code .w { color: #6e7681 } /* Text.Whitespace */
.code .mb { color: #a5d6ff } /* Literal.Number.Bin */
.code .mf { color: #a5d6ff } /* Literal.Number.Float */
.code .mh { color: #a5d6ff } /* Literal.Number.Hex */
.code .mi { color: #a5d6ff } /* Literal.Number.Integer */
.code .mo { color: #a5d6ff } /* Literal.Number.Oct */
.code .sa { color: #79c0ff } /* Literal.String.Affix */
.code .sb { color: #a5d6ff } /* Literal.String.Backtick */
.code .sc { color: #a5d6ff } /* Literal.String.Char */
.code .dl { color: #79c0ff } /* Literal.String.Delimiter */
.code .sd { color: #a5d6ff } /* Literal.String.Doc */
.code .s2 { color: #a5d6ff } /* Literal.String.Double */
.code .se { color: #79c0ff } /* Literal.String.Escape */
.code .sh { color: #79c0ff } /* Literal.String.Heredoc */
.code .si { color: #a5d6ff } /* Literal.String.Interpol */
.code .sx { color: #a5d6ff } /* Literal.String.Other */
.code .sr { color: #79c0ff } /* Literal.String.Regex */
.code .s1 { color: #a5d6ff } /* Literal.String.Single */
.code .ss { color: #a5d6ff } /* Literal.String.Symbol */
.code .bp { color: #e6edf3 } /* Name.Builtin.Pseudo */
.code .fm { color: #d2a8ff; font-weight: bold } /* Name.Function.Magic */
.code .vc { color: #79c0ff } /* Name.Variable.Class */
.code .vg { color: #79c0ff } /* Name.Variable.Global */
.code .vi { color: #79c0ff } /* Name.Variable.Instance */
.code .vm { color: #79c0ff } /* Name.Variable.Magic */
.code .il { color: #a5d6ff } /* Literal.Number.Integer.Long */
