main{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}

main button{
    grid-column-end: span 2;
}

.formhatter {
    margin-bottom: 28px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    padding: 40px 50px 25px 50px;
    max-width: calc(1920px / 110 * 50);
    scroll-behavior: smooth;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    background-color: #161b22;
    box-shadow: 0 0px 25px -7px #000000e8;
}

.menusor {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 9px;
}

.formfield {
    background-color: #2e2e36;
    color: #e9e9e9;
    transition: color .2s ease, background-color .2s ease;
    font-size: 13px;
    font-weight: 400;
    font-family: Poppins, Helvetica, sans-serif;
    line-height: 1.4;
    background-clip: padding-box;
    border: none;
    appearance: none;
    border-radius: .475rem;
    height: 2.6rem;
    box-shadow: none;
    padding: 5px;
    margin-top: 4px;
    min-width: 25em;
    display: block;
}

.formfield:focus {
    outline: 0;
    box-shadow: none;
    color: black!important;
    background-color: #e8f0fe!important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.formfield:hover {
    background-color: #ffffff30;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

h1 {
    width: 100%;
    color: white;
    font-size: 1.45rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 2.5rem !important;
    text-align: center;
}

label {
    font-weight: 500 !important;
    color: #fff !important;
    font-size: 0.90rem !important;
}

button {
    background-color: var(--sema-piros-color);
    margin-top: 1.5rem;
    box-shadow: none;
    line-height: 1.5;
    color: black;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .75rem 1.5rem;
    border-radius: .475rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 0.93rem !important;
    font-weight: 500;
    font-family: Poppins, Helvetica, sans-serif;
}

button:hover {
    background-color: var(--sema-piros-hover-color);
}