main{
    margin-top:2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 10px - 2*var(--line-width)); /*10px a header összpaddingje*/
    align-items: center;
}

.linkgomb{
    background-color: var(--gomb-bg-color);
    color: var(--gomb-fg-color);
    border: solid var(--line-width) var(--line-color);
    gap: 5px;
    padding:10px;
    text-align: center;
}


.linkgomb:hover{
    background-color: var(--gomb-bg-hover-color);
    color: var(--gomb-fg-hover-color);
    border: solid var(--line-width) var(--line-color);
    transition: 0.3s;
    cursor: pointer;
}

.keklink:hover{
    color: var(--fg-hover-color);
    transition: 0.3s;
}

.smalltext {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    color: rgb(161, 161, 161);
    font-weight: 500;
}

.hidden {
    display: none!important;
}
