@media screen and (max-width: 940px) {
    .hf-container{
        width: calc(100% - 20px)!important;
        max-width: 730px;
    }
    .hf-doboz{
        grid-template-columns: 70% 30%;
    }
    .refresh{
        width: 7rem;
    }
    .hfgrid2{
        margin-left: auto;
        margin-right: 0;    
    }
    .forumhatter{
        width: calc(100% - 76px)!important;
        border: 0px!important;
        margin-bottom: 45px;
        margin-top: 0px;
        padding-bottom: 0px;
    }
    .separator{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .forumcim{
        margin-bottom: 2px;
        margin-top: 7px;
    }
    .mobile{
        display: block;
        margin: 0;
    }
    .inputdata{
        max-width: 510px;
    }
    .feladat{
        width: calc(12rem + 9px);
        padding: 3px;
        height: 50px;
    }
    .bubble{
        min-width: 140px;
    }
    .username-left,.username-right{
        padding-bottom: 0px;
    }
    .mo-ido, .bi-ido{
        font-size: 12px;
    }
    #mo-editor-flex{
        grid-template-columns: 85% 15%;
    }

    #bi-editor-flex{
        grid-template-columns: 60% 25% 15%;
    }
    .uzenet{
        padding-top: 4px;
    }

@media screen and (max-width: 590px) {
    .feladat{
        width: 100%!important;
        padding: 3px;
        height: 36px;
    }
    .gomb{
        width: 97%;
    }
    .inputdata{
        width: calc(100% - 18px);
    }
    .forumbutton{
        display: grid;
        gap: 3px;
        grid-template-columns: 33% 33% 33%;
    }
}