#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    backdrop-filter: blur(10px);
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #161b22;
    padding: 3.25rem;
    z-index: 1001;
    display: none;
    box-shadow: 0 0px 25px -7px #000000e8;
    border-radius: 0.475rem;
}

#modal-content {
    text-align: center;
    color: white;
}

#modal-title {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
}

#close-modal-btn:hover {
    background-color: var(--sema-kek-hover-color)
}

body.modal-open {
    overflow: hidden;
}

button {
	margin-top: 1.5rem;
	border: 0;
	box-shadow: none;
	background-color: var(--sema-kek-color);
	border-radius: 0.475rem;
	line-height: 1.5;
	color: black;
	text-align: center;
	user-select: none;
	border: 1px solid transparent;
	padding: 10px 18px;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	font-size: 0.93rem !important;
	font-weight: 500;
	font-family: Poppins, Helvetica, sans-serif;
	text-transform: none;
}