footer{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--footer-bg-color);
    color: var(--footer-fg-color);
    border-top: solid var(--line-width) var(--line-color);

    position:absolute;
    bottom:0;
    width:100%;
    height:var(--footer-height);   
    font-size: small;
}

