:root {
  --sarga: #ffe533;
  --lila: #826bfa;
}

* {
    margin: 0;
    padding: 0;
}

body {
  display:grid;
  justify-content: center;
  background: radial-gradient(ellipse at bottom, #12171e 0%, #0d1117 68%);
  color: white;
  font-size: 10pt;
}

h2{
  color:var(--sema-kek-color);
  font-size: 1.9em;
  font-weight: bold;
}

html{
  height: 100%;
}

a {
  cursor: default;
  text-decoration: none;
  color: white;
}

h1{
  font-size: 20pt;
  text-align: center;
  margin: 10px 0;
}

main {
  width:500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width:650px; */
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: auto auto;
  grid-template-areas:
      "ertekeles eloszlas boxplot"
      "ponthatar statisztika boxplot"; */
  gap: 20px;  
}

header{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}



ul {
    list-style-type: none;
}

canvas {
    background-color: #3d4046;
    border: none !important;;
}

#feladatstat .grid-container{
    display: grid;
    justify-content: center;
    min-height: 300px;
}



/* nav */

nav{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0 0px 25px -7px #000000e8;
  padding: 3.25rem;
  width: 510px !important;
  background-color: #161b22;
  border-radius: 0.475rem;
  margin-bottom: 100px;
}

nav ul{
  display: grid;
  grid-template-columns: 800px;
  justify-content: center;
}

/* tablazatformazasok */
table th.nev{
  width: 500px;
}

table td.datum{
  width: 300px;
}

table a {
  display: grid;
  align-content: center;
  /* height:40px; */
  cursor: pointer;
  transition:0.3s;
}

table th a{

  border: 0;
  box-shadow: none;
  cursor: pointer;
  border-radius: 0.475rem;
  line-height: 1.5;
  padding: 0px 10px;
  text-align: left;
  vertical-align: middle;
  user-select: none;
  /* border: 1px solid transparent; */
  border-radius: 0.475rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-weight: 500;
  font-family: Poppins, Helvetica, sans-serif;
  text-transform: none;
  background-color: #212e48;
  color: #3699ff;
}

table{
  background-color:#0d1117;
  margin: 60px auto;
  border: 2px solid #21262d !important;
  border-radius: 12px;
  padding: 10px 15px 12px 15px;
  max-width: calc(1920px / 110 * 50);
}

table td {
  background-color: #161b22;
  border: 2px solid #21262d !important;
}
