footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--footer-bg-color);
    color: var(--footer-fg-color);
    /* border-top: solid var(--line-width) var(--line-color); */

    position:fixed;
    bottom:0;
    width:100%;
    height:var(--footer-height);   
    font-size: small;
    color: #6d6d80;
    font-weight: 500;
}

footer span {
    color: var(--footer-fg-color);
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    transition: color 0.2s;
}

footer span:hover {
    color:#66c2ff!important;
    transition: color 0.2s;
}

.frontend{
    transition: color 0.2s;
}

.backend{
    transition: color 0.2s;
}

.frontend:hover{
    color:#0097FB!important;
    transition: color 0.2s;
}

.backend:hover{
    color:#DEA01E!important;
    transition: color 0.2s;
}

@media screen and (max-width: 940px) {
    footer{
        font-size: 10px;
        height: 30px;
    }
}