:root{
    --body-bg-color: #0d1117;
    --body-fg-color: #D9FAFF;
    --fg-hover-color: #00BBF0;

    --header-bg-color:#161b22;
    --header-fg-color: #D9FAFF;
    --header-height:60px;

    --main-bg-color: #010f22;
    --main-fg-color: #D9FAFF;


    --textbox-bg-color: #010f22;
    --textbox-fg-color: #D9FAFF;

    --main-bg-hover-color: #D9FAFF;
    --main-fg-hover-color: #010f22;

    --gomb-bg-color: #010f22;
    --gomb-fg-color: #D9FAFF;
    --gomb-bg-hover-color: #010f22;
    --gomb-fg-hover-color: #00BBF0;

    --section-bg-color: #010f22;
    --section-fg-color: #D9FAFF;

    --line-color: #D9FAFF;
    --line-width: 2px;

    --footer-bg-color: #161b22;
    --footer-fg-color: #D9FAFF;
    --footer-height:40px;


    /* szinek */
    --sema-kek-color: #0097FB!important;
    --sema-kek-hover-color:#0b75bd!important;
    --sema-narancs-color: #DEA01E!important;
    --sema-narancs-hover-color: #af7700!important;
    --sema-piros-color: #cf2929!important;
    --sema-piros-hover-color: #b52e2e!important;
    --sema-zold-color: #0fc503!important;
    --sema-zold-hover-color: #0a9d00!important;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:var(--body-bg-color);
    color:var(--body-fg-color);
    font-family: Poppins, Helvetica, sans-serif;    
}

.fixinfo {
    user-select: none;
}