.main{
    gap:20px;
}




/* email-doboz */

#emaillabel{grid-area: emaillabel;}
#emailinput{grid-area: emailinput;}
#rosszemail{grid-area: rosszemail;}

#emaildiv{
    width:100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "emaillabel"
    "emailinput"
    "rosszemail";
}


/* jelszó-doboz */

#jelszolabel{grid-area: jelszolabel;}


#jelszolink{    
    grid-area: jelszolink;  
    justify-self: end;
    font-size: 0.9rem;
    text-align:right;
}

#jelszoinput{grid-area: jelszoinput;}

#jelszodiv{
    width:100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "jelszolabel jelszolink"
    "jelszoinput jelszoinput";
}

#submitgomb{
    width: 100%;
}