@media screen and (max-width: 940px) {
    form{
    padding: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(100% - 20px )!important;
    max-width: 510px;
    margin: auto;
    }
    h1{
    font-size: 1.25rem;
    }
    label{
        font-size: 0.75rem !important;
    }
    input[type="text"], input[type="password"] {
        font-size: 0.75rem;
    }
    button{
        font-size: 0.8rem;
    }

}