@media screen and (max-width: 940px) {
    form{
    padding: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(100% - 20px )!important;
    max-width: 510px;
    margin: auto;
    }

}
