.main{
    gap:20px;
}

#emaildiv{
    width:100%;
}

#submitgomb{
flex-grow: 1;
}

#visszagomb{
    background-color: #212e48;
    color:#3699ff;
}
#visszagomb:hover{
    background-color: #187de4;
    color:white;
}

#gombok{
    width: 100%;
    display:flex;
    justify-content: stretch;
    flex-flow:row wrap;
    gap:25px;
}