{% load auth_extras %}
<header>

    {# NAV BAR #}

    <div class="grid">
        <nav id="nav1">
            <ul>
                {% if request.user|has_group:"tanar" %}
                    <li><a href="{{ domain }}/admin/">Admin</a></li>
                    <li><a href="{{ domain }}/tanar/regisztracio/" >Regisztráció</a></li>
                    <li><a href="{{ domain }}/tanar/kituz/">Kitűzés</a></li>
                {% else %}
                    <li><a href="{{ domain }}/attekintes/hf/uj/">Megcsinálandó {% if szam.hfuj > 0 %}({{ szam.hfuj }}){% endif %}
                    {% comment %} <li><a href="{{ domain }}/attekintes/hf/javit/">javításra vár {% if szam.hfjavit > 0 %}({{ szam.hfjavit }}){% endif %}</a></li> {% endcomment %}
                    <li><a href="{{ domain }}/attekintes/hf/biral/">Bírálatra vár {% if szam.hfbiral > 0 %}({{ szam.hfbiral }}){% endif %}</a></li>
                    <li><a href="{{ domain }}/attekintes/hf/kesz/">Kész {% if szam.hfkesz > 0 %}({{ szam.hfkesz }}){% endif %}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="grid fokep">
        <img src="https://i.imgur.com/KcmCdoC.png" alt="">
    </div>
    <div class="grid">
        <nav id="nav2"> 
            <ul>
                <li><a href="{{ domain }}/attekintes/mo/uj/">Függőben lévő {% if szam.mouj > 0 %}({{ szam.mouj }}){% endif %}</a></li>
                <li><a href="{{ domain }}/attekintes/mo/biral/">Mentorál {% if szam.mobiral > 0 %}({{ szam.mobiral }}){% endif %}</a></li>
                <li><a href="{{ domain }}/attekintes/mo/kesz/">Kész ({{ szam.mokesz }})</a></li>             
                 
            </ul>
        </nav> 
    </div>
    <div class="grid">
        <nav> 
            <ul class="last">
                <li><a href="{{ domain }}/accounts/logout/">Fiók: {{ user }}</a></li>    
            </ul>
        </nav> 
    </div>
    <!-- <div class="grid">
        {# LOG OUT link #}
        <a class="logout" href="{{ domain }}/accounts/logout/">
            kijelentkezés
        </a>
    </div> -->
</header>