{% load static %}
{% load repofilterek %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {# Egyéb #}
    <title>Admin</title>
    
    {% include "inner_head.html" %}
    
    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile2.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/hf.css' %}">


    {# JS #}
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/fetch.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>

</head>
<body>
    {% include "header.html" %}

    {# MAIN #}

    <main>    
        <div class="gombdiv">
            <a class="linkgomb" id="django-admin" href="/admin">Django admin</a>
            <a class="linkgomb" id="regisztracio" href="/hazioldal/tanar/regisztracio/">Regisztráció</a>
            
            <details>
                <summary>Kritikus műveletek</summary>
                <div class="kritikus">
                    <button id="passzivizalas" class="linkgomb">Összes user passzivizálása</button>
                    <button id="aktivizalas" class="linkgomb">Összes user aktivizálása</button>
                    <button id="mentoramnesztia" class="linkgomb">Mentoramnesztia</button>
                    <button id="hfamnesztia" class="linkgomb">HF-amnesztia</button>
                    <button class="linkgomb" id="resetnullas">Nulla közösségi percet érő órák visszapörgetése</button>
                </div>
            </details>
            
            <details>
                <summary>Egyszeri műveletek</summary>
                <div class="kritikus">
                    <button id="gitprofiles" class="linkgomb">Kapcsolódó Git profilok generálása</button>
                    <label for="groupselect">Csoport kiválasztása</label>
                    <select id="groupselect" class="formfield">
                        {% for csoport in csoportok %}
                        <option value="{{ csoport.name }}">{{ csoport.name }}</option>
                        {% endfor %}
                    </select>
                    <button id="osztalymentoralas" class="linkgomb">Kiválasztott csoport mentorálásba vétele</button>
                </div>
            </details>
        </div>
        
        <div class="teendodiv">
            <div class="formhatter">
                <h2>Teendő</h2>
                <h3>Közösségi percek elbírálása</h3>
                <details 
                    {% if biralatok %}
                    open
                    {% endif %}>
                    <summary>Bírálandó</summary>
                    {% for biralat in biralatok %}
                    <h4>{{ biralat.mo.hf.kituzes.feladat.nev|escape }}</h4>
                    <div class="center-h">
                        <small><a href="{{ biralat.mo.hf.kituzes.feladat.url|escape }}">Feladatleírás</a></small>
                        <small><a href="/hazioldal/hf/{{ biralat.mo.hf.id|escape }}">Teljes beszélgetés</a></small>
                    </div>
                    <div class="hf-chat-message mentoralt {% if biralat.mo.hf.user == user %}senderuser{% endif %}">
                        <p class="hf-chat-message-sender">{{ biralat.mo.hf.user.last_name|escape }} {{ biralat.mo.hf.user.first_name|escape }}</p>
                        <div class="hf-chat-message-content">{{ biralat.mo.szoveg|markdown|escape }}</div>
                        <small class="hf-chat-message-date">{{ biralat.mo.ido|ehnopegesz|escape }}</small>
                    </div>

                    <div class="hf-chat-message {% if biralat.mentor|has_group:'tanar' %}tanar{% else %}mentor{% endif %} {% if biralat.mentor == user %}senderuser{% endif %}">
                        <p class="hf-chat-message-sender">{{ biralat.mentor.last_name|escape }} {{ biralat.mentor.first_name|escape }}</p>
                        <div class="hf-chat-message-content">
                            {{ biralat.szoveg|markdown|escape }}
                            <div class="hf-chat-biralat-itelet bi-itelet2">
                                Bírálat: <span class="itelet">{{ biralat.itelet|escape }}</span>
                            </div>
                        </div>
                        <small class="hf-chat-message-date">{% if user == biralat.mentor %}<span data-id="{{ biralat.id|escape }}" class="undo biralatot_torol">Visszavonás</span> | {% endif %}{{ biralat.ido|ehnopegesz|escape }}</small>
                    </div>
                    <div class="percform">
                        <input class="formfield" type="number" id="kozossegipercek" min="-1" value="{{ biralat.kozossegi_szolgalati_percek }}" required autofocus>
                        {% comment %} Submit button {% endcomment %}
                        <button class="linkgomb" id="biralat-submit" data-id="{{ biralat.id }}">Bírálat elküldése</button>
                    </div>
                    {% empty %}
                    <small>Úgy tűnik itt most nincs semmi.<br>Ennek a legvalószínűbb oka az, hogy nincs bírálandó közösségi perc.</small>
                    {% endfor %}
                </details>
                <a href="{% url "haladekok" %}" class="linkgomb">Haladékkérelmek elbírálása</a>
                <a href="{% url "tanar_csoportvalasztas" %}" class="mentorvagyok-gomb">Mentorálnék</a>
            </div>
        </div>
    </main>

    {# FOOTER #}

    {% include "footer.html" %}

    {% include "mobile_nav.html" %}

</body>
</html>
