{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {# Egyéb #}
    <title>Admin</title>
    
    {% include "inner_head.html" %}
    
    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    
    {# JS #}
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/fetch.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>

</head>
<body>
    {% include "header.html" %}


    {# MAIN #}

    <main>    
        <a class="linkgomb", id="django-admin" href="/admin">Django admin</a>
        <button id="passzivizalas" class="linkgomb">Összes user passzivizálása</button>
        <button id="aktivizalas" class="linkgomb">Összes user aktivizálása</button>
    </main>



    {# FOOTER #}

    {% include "footer.html" %}

</body>
</html>