{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {# Egyéb #}
    <title>Admin</title>
    
    {% include "inner_head.html" %}
    
    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile2.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/hf.css' %}">

    {# JS #}
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/fetch.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>

</head>
<body>
    {% include "header.html" %}

    {# MAIN #}

    <main>    
        <div class="gombdiv">
            <a class="linkgomb" id="django-admin" href="/admin">Django admin</a>
            <a class="linkgomb" id="regisztracio" href="/hazioldal/tanar/regisztracio/">Regisztráció</a>
            
            <details>
                <summary>Kritikus műveletek</summary>
                <div class="kritikus">
                    <button id="passzivizalas" class="linkgomb">Összes user passzivizálása</button>
                    <button id="aktivizalas" class="linkgomb">Összes user aktivizálása</button>
                    <button id="mentoramnesztia" class="linkgomb">Mentoramnesztia</button>
                    <button id="hfamnesztia" class="linkgomb">HF-amnesztia</button>
                </div>
            </details>
            
            <details>
                <summary>Egyszeri műveletek</summary>
                <div class="kritikus">
                    <button id="gitprofiles" class="linkgomb">Kapcsolódó Git profilok generálása</button>
                    <label for="groupselect">Csoport kiválasztása</label>
                    <select id="groupselect" class="formfield">
                        {% for csoport in csoportok %}
                        <option value="{{ csoport.name }}">{{ csoport.name }}</option>
                        {% endfor %}
                    </select>
                    <button id="osztalymentoralas" class="linkgomb">Kiválasztott csoport mentorálásba vétele</button>
                </div>
            </details>
        </div>
        
        <div class="teendodiv">
            <div class="formhatter">
                <h2>Teendő</h2>
                <a href="{% url "tanar_csoportvalasztas" %}" class="mentorvagyok-gomb">Mentorálnék</a>
                <h3>Közösségi percek elbírálása</h3>
                <details>
                    <summary>Bírálandó</summary>
                    {% for biralat in biralatok %}
                    <div class="biralatdoboz doboz">
                        <div class="bi-ido">{{ biralat.ido }}</div>    
                        <div class="bubbleflex">   
                            <div class="bubble left">
                                <div class="username-left">{{ biralat.mentor.last_name }} {{ biralat.mentor.first_name }}</div>
                                <p>
                                    {{ biralat.szoveg }}
                                </p>
                                <p class="bi-itelet2">Bírálat: <span class="itelet">{{ biralat.itelet }}</span></p>
                                <small>Bírálat ID: <span id="biralatid" value="{{ biralat.id }}">{{ biralat.id }}</span></small>
                            </div>
                        </div>
                    </div>
                    <div class="percform">
                        <input class="formfield" type="number" id="kozossegi-percek" min="-1" value="{{ biralat.kozossegi_szolgalati_percek }}" required>
                        {% comment %} Submit button {% endcomment %}
                        <button class="linkgomb" id="biralat-submit" data-id="{{ biralat.id }}">Bírálat elküldése</button>
                    </div>
                    {% empty %}
                        <small>Úgy tűnik itt most nincs semmi.<br>Ennek a legvalószínűbb oka az, hogy nincs bírálandó közösségi perc.</small>
                    </div>
                    {% endfor %}
                </details>
            </div>
        </div>

    </main>

    {# FOOTER #}

    {% include "footer.html" %}

    {% include "mobile_nav.html" %}

</body>
</html>
