{% load static %}
{% load repofilterek %}

<!DOCTYPE html>
<html lang="hu">
<head>
    {# Egyéb #}
    <title>Admin</title>
    
    {% include "inner_head.html" %}
    
    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/ellenorzes.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile2.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">

    {# JS #}
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/fetch.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>
    <script src="{% static 'js/egyesek_rogzitese.js' %}" defer></script>

    <style>
        .ell-grid-container{
            grid-template-columns: auto repeat({{ kituzesek_szama }}, 20px) auto;
        }
    </style>

</head>
<body>
    {% include "header.html" %}

    {# MAIN #}

    <main>    
        <h1 id="csoport" data-csoportnev="{{csoportnev}}">{{csoportnev}}</h1>
        {% if tanarvagyok %}
            <button id="egyesek_rogzitese" class="linkgomb">Egyesek rögzítése</button>
        {% endif %}
        <div class="ell-grid-container">

            
            <div></div>
            {% for kituzes in kituzesek %}
            <a href="{{ kituzes.feladat.url }}" class="ell-grid-item kituzes">
                <!-- {{ kituzes.feladat.nev }} -->
            </a>
            {% endfor %}
            <div></div>

            {% for user_sora in userek_sorai %}
            <a href="mailto:{{ user_sora.user.email }}" class="ell-grid-item user">{{ user_sora.user.last_name }} {{ user_sora.user.first_name }}</a>
                {% for hf in user_sora.hazifeladatai %}
                {% if hf.id %}
                    <a href="/hazioldal/hf/{{ hf.id }}/" 
                        class="ell-grid-item hf {{ hf.allapot }}" 
                        title="{{ hf.kituzes.feladat.nev }} &#013; {{ hf.hatarido|hn }}"
                        ></a>
                {% else %}
                    <div class="ell-grid-item hf NINCS"></div>
                {% endif %}
                {% endfor %}
            <div class="ell-grid-item mentorok">
                {% for mentor in user_sora.mentorai %}
                <a href="mailto:{{ mentor.email }}" class="mentor">{{ mentor.last_name }} {{ mentor.first_name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </main>

    {# FOOTER #}

    {% include "footer.html" %}

    {% include "mobile_nav.html" %}

</body>
</html>
