{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {% include "inner_head.html" %}

    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/fiok.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile2.css' %}">

    {# Egyéb #}
    <title>Fiók</title>

    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/fetch.js' %}"></script>
    <script src="{% static 'js/fiok.js' %}"></script>

</head>
<body>
    {% include "header.html" %}

    <div class="bg">
        <div class="main">
            <div class="belsodiv">
                <h1>{{ user.last_name }} {{user.first_name }}</h1>
                <div class="github">
                    <label for="gitusername" id="gitlabel">GitHub felhasználónév</label>
                    <input type="text" id="gitusername" class="inputdata" value="{{ gituser.username }}">
                </div>
                <div class="checkboxes">
                    <label id="check1_label">Commit history (Beta) </label>
                    <input type="checkbox" class="toggle" checked id="check1" onchange="CommitChange()">
                </div>
                <div class="gombok">
                    <button id="update">Profil frissítése</button>
                    <a href="/accounts/logout/"><button id="logout">Kijelentkezés</button></a>
                </div>
            </div>
        </div>
        
        
        
        {# FOOTER #}
        
        {% include "footer.html" %}
    </div>
    <!-- 
        Commenteltem, mert jó ötletek vannak benne, de nem passzol a jelenlegi weboldaltérképhez
        <div class="mobile-bar">
        <div class="mobile-nev">Házioldal</div>
        <div class="mobile-cim kektext"><span>Mentorált feladatok</span></div>
        <div class="mobile-options">
            <a href="/attekintes/hf/uj/" class="mobile-option">
                <span class="option-bullet kekbg"></span>
                <span> Beadandó {% if szam.hfuj > 0 %}<span class="mobile-text kektext"> {{ szam.hfuj }}</span>{% endif %} </span>
            </a>
            <a href="/attekintes/hf/biral/" class="mobile-option">
                <span class="option-bullet kekbg"></span>
                <span> Mentornál {% if szam.hfbiral > 0 %}<span class="mobile-text kektext"> {{ szam.hfbiral }}</span>{% endif %} </span>
            </a>
            <a href="/attekintes/hf/kesz/" class="mobile-option">
                <span class="option-bullet kekbg"></span>
                <span> Kész</span>
            </a>
        </div>
        <div class="mobile-cim narancstext"><span>Mentor feladatok</span></div>
        <div class="mobile-options">
            <a href="/attekintes/mo/uj/" class="mobile-option">
                <span class="option-bullet narancsbg"></span>
                <span> Mentoráltnál {% if szam.mouj > 0 %}<span class="mobile-text narancstext"> {{ szam.mouj }}</span>{% endif %} </span>
            </a>
            <a href="/attekintes/mo/biral/" class="mobile-option">
                <span class="option-bullet narancsbg"></span>
                <span> Javítanivaló {% if szam.mobiral > 0 %}<span class="mobile-text narancstext"> {{ szam.mobiral }}</span>{% endif %} </span>
            </a>
            <a href="/attekintes/mo/kesz/" class="mobile-option">
                <span class="option-bullet narancsbg"></span>
                <span> Kész</span>
            </a>
        </div>
        <div class="mobile-cim" style="color:white"><span>{{ user.last_name }} {{user.first_name }}</span></div>
        <div class="mobile-options">
            <a href="/fiok/" class="mobile-option">
                <span class="option-bullet" style="background-color: white;"></span>
                <span> Fiók</span>
            </a>
        </div>
    </div> -->

    {% include "mobile_nav.html" %}

</body>
</html>