{% load static %}
{% load repofilterek %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {# Egyéb #}
    <title>{{ a_hf.kituzes.feladat.nev }}</title>
    
    {% include "inner_head.html" %}
    
    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile2.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/haladek_view.css' %}">

    {# JS #}


</head>
<body>
    {% include "header.html" %}

    {# MAIN #}

    <div class="formhatter">
        <h2>Haladékkérelem</h2>
        {% if a_haladekkerelem.tipus == "hianyzas" %}    
            <h3 class="lazactext">Hiányzás</h3>
        {% elif a_haladekkerelem.tipus == "egyeb" %}
            <h3 class="kektext">Egyéb</h3>
        {% else %}
            <h3>{{ a_haladekkerelem.tipus }}</h3>
        {% endif %}
        <div class="menusor fixinfo">
            <label id="igenylo_label" for="igenylo">Igénylő:</label>
            <div id="igenylo" class="parameter">{{ a_hf.user.last_name }} {{ a_hf.user.first_name }}</div>
        </div>
        <div class="menusor fixinfo">
            <label for="a_hf">Házi feladat címe:</label>
            <div id="a_hf" class="parameter">{{ a_hf.kituzes.feladat.nev }}</div>
        </div>
        <div class="menusor fixinfo">
            <label for="a_hf">Kitűzés ideje:</label>
            <div id="kituzes_ideje" class="parameter">{{ a_hf.kituzes.ido|hn }}</div>
        </div>
        <div class="menusor fixinfo">
            <label for="a_hf">Eredeti kitűzés határideje:</label>
            <div id="kituzes_hatarido" class="parameter">{{ a_hf.kituzes.hatarido|hn }}</div>
        </div>
        <div class="menusor fixinfo">
            <label for="a_hf">Jelenlegi határideje:</label>
            <div id="jelenlegi_hatarido" class="parameter">{{ a_hf.hatarido|hn }}</div>
        </div>
        <div class="menusor fixinfo">
            <label for="a_hf">Kért haladék (napok):</label>
            <div id="jelenlegi_hatarido" class="parameter">{{ a_haladekkerelem.nap }}</div>
        </div>
        <div class="menusor fixinfo fullwidth">
            <label for="a_hf">Haladékkérelem szövege</label>
        </div>
        <div id="jelenlegi_hatarido" class="parameter fullwidth">{{ a_haladekkerelem.body }}</div>
        <div class="menusor fixinfo">
            <label for="biralata">Kérelem bírálata:</label>
            <div id="biralata" class="parameter">{{ a_haladekkerelem.elbiralva|formatElbiralas }}</div>
        </div>
        {% if a_haladekkerelem.valasz %}
            <div class="menusor fixinfo fullwidth"><label for="valasz">Válasz</label></div>
            <div id="valasz" class="parameter fullwidth">{{ a_haladekkerelem.valasz }}</div>
        {% endif %}
        {% if request.user|has_group:"tanar" %}
        <div>Elbírálás</div>
        <form action="elutasit/" method="POST">
            {% csrf_token %}
            <button type="submit" class="elutasitott biralbutton">Elutasítás</button>
        </form>
        <form action="fuggeszt/" method="POST">
            {% csrf_token %}
            <button type="submit" class="kekbg biralbutton">Függővé tétel</button>
        </form>
        <form action="elfogad/" method="POST">
            {% csrf_token %}
            <button type="submit" class="elfogadott biralbutton">Elfogadás</button>
        </form>
        {% endif %}
    </div>

    {# FOOTER #}

    {% include "footer.html" %}

    {% include "mobile_nav.html" %}

</body>
</html>
