{% load static %}
{% load repofilterek %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <title>Házi feladatok</title>
        
    {% include "inner_head.html" %}

    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/hazik.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile2.css' %}">

    {# JS #}

    <script>
    window.onload = function(){
        if (window.location.href.split("/").at(-3) == "hf")
        {
            if (window.location.href.split("/").at(-2) == "uj")
            {
                $('#sajat-todo').addClass("active-sajat");
            }
            if (window.location.href.split("/").at(-2) == "biral")
            {
                $('#sajat-biral').addClass("active-sajat");
            }
            if (window.location.href.split("/").at(-2) == "kesz")
            {
                $('#sajat-kesz').addClass("active-sajat");
            }
        }
        if (window.location.href.split("/").at(-3) == "mo")
        {
            if (window.location.href.split("/").at(-2) == "uj")
            {
                $('#mentor-fuggo').addClass("active-mentor");
            }
            if (window.location.href.split("/").at(-2) == "biral")
            {
                $('#mentor-todo').addClass("active-mentor");
            }
            if (window.location.href.split("/").at(-2) == "kesz")
            {
                $('#mentor-kesz').addClass("active-mentor");
            }
        }


       
    }
  </script>

    
</head>
<body>


    {% include "header.html" %}
    <div class="bg">
    <!-- <div id="particles-js" style="display: none;"></div>
        <script src="{% static 'js/particles.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script> -->
    
    {# MAIN #}
        <div class="hf-container">

        {% if nincs_hazi %}
            <div class="nincsfeladat-box">
                <div class="nincsfeladat-text">Úgy tűnik, hogy most nincs itt feladat.</div>
                <img src="{% static 'pic/no-task.png' %}" alt="" class="notaskimg">
            </div>                    
        {% endif %}

        {% for hf in hazik %}
            {% if szuro == hf.allapotszuro %}
            <div class="hf-doboz" style="background-color: #0d1117;">
                <div> 
                    <div class="hf-nevdiv">
                        <h3 class="hf-nev {% if mentoralt_vagyok %} kektext {%else%} narancstext {%endif%}">{{ hf.cim }}</h3>
                    </div>
                    <div class="hf-temakor">
                        {% for tema in hf.temai %}
                            {{ tema }}
                        {% endfor %}
                    </div>
                    <div class="hf-adatok">
                        {% if mentor_vagyok %}
                        <div class="hf-tulaj">
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                            </svg></span> 
                            <span>{{ hf.tulajdonosa }}</span></div>
                        {% endif %}
                        <div class="hf-feladva">
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" viewBox="0 0 16 16"><path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z"/></svg>  </span> 
                            <span>Kitűzve: <span>{{ hf.kituzes.ido|hn }}</span></span></div>
                        <div class="hf-hatido">
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                                </svg></span> 
                                {% if hf.allapot == "NINCS_REPO" %}<span>A feladat repóra vár</span>
                                {% elif hf.allapot == "NINCS_MO" %}<span>A feladat megoldásra vár</span>
                                {% elif hf.allapot == "NINCS_BIRALAT" %}<span>A feladat bírálatra vár</span>
                                {% elif hf.allapot == "VAN_NEGATIV_BIRALAT" %}<span>A feladat javításra vár</span>
                                {% elif hf.allapot == "MINDEN_BIRALAT_POZITIV" %}<span>A feladat sikeresen lezárva</span>
                                {% endif %} 
                        </div>    
                        <div class="hf-hatido">
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" viewBox="0 0 16 16"><path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/><path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg></span> 
                            {% if hf.hatralevoido > 0 %} <span>A leadásig van: {{ hf.hatralevoido }} nap</span>
                            {% else %}<span class="lejart">Lejárt a határidő!{% endif %}</span></div>

                    </div>
                </div>
                <div class="hfgrid2">
                    <div class="hf-feladat">
                        <div class="buttonflex">
                            <!-- <input class="inputdata" type="text" name="hazi" autocomplete="none" spellcheck="false"> -->
                            <a href="{{ hf.kituzes.feladat.url }}"><button  class="refresh {% if mentoralt_vagyok %} kekbg {%else%} narancsbg {%endif%}"><span>Feladathoz</span></button></a>
                        </div>
                    </div>
                    <div class="hf-repo">
                        <div class="buttonflex">
                            <!-- <input class="inputdata" type="text" name="hazi" autocomplete="none" spellcheck="false"> -->
                            <a href="/hf/{{ hf.id }}/"><button  class="refresh {% if mentoralt_vagyok %} kekbg {%else%} narancsbg {%endif%}"><span>Megoldáshoz</span></button></a>
                        </div>
                    </div>
                    <div class="hf-repo">
                        <div class="buttonflex">
                            <a href="{{ hf.url }}" target="_blank"><button  class="refresh {% if mentoralt_vagyok %} kekbg {%else%} narancsbg {%endif%}"><span>Külső Repo</span></button></a>
                        </div>
                    </div>

                </div>

                

            </div>
            {% endif %}
        {% endfor %}


        </div>
        
        {% include "footer.html" %}
    </div>
    <div class="mobile-bar">
        <div class="mobile-nev">Házioldal</div>
        <div class="mobile-cim kektext"><span>Mentorált feladatok</span></div>
        <div class="mobile-options">
            <a href="{{ domain }}/attekintes/hf/uj/" class="mobile-option">
                <span class="option-bullet kekbg"></span>
                <span> Beadandó {% if szam.hfuj > 0 %}<span class="mobile-text kektext"> {{ szam.hfuj }}</span>{% endif %} </span>
            </a>
            <a href="{{ domain }}/attekintes/hf/biral/" class="mobile-option">
                <span class="option-bullet kekbg"></span>
                <span> Mentornál {% if szam.hfbiral > 0 %}<span class="mobile-text kektext"> {{ szam.hfbiral }}</span>{% endif %} </span>
            </a>
            <a href="{{ domain }}/attekintes/hf/kesz/" class="mobile-option">
                <span class="option-bullet kekbg"></span>
                <span> Kész</span>
            </a>
        </div>
        <div class="mobile-cim narancstext"><span>Mentor feladatok</span></div>
        <div class="mobile-options">
            <a href="{{ domain }}/attekintes/mo/uj/" class="mobile-option">
                <span class="option-bullet narancsbg"></span>
                <span> Mentoráltnál {% if szam.mouj > 0 %}<span class="mobile-text narancstext"> {{ szam.mouj }}</span>{% endif %} </span>
            </a>
            <a href="{{ domain }}/attekintes/mo/biral/" class="mobile-option">
                <span class="option-bullet narancsbg"></span>
                <span> Javítanivaló {% if szam.mobiral > 0 %}<span class="mobile-text narancstext"> {{ szam.mobiral }}</span>{% endif %} </span>
            </a>
            <a href="{{ domain }}/attekintes/mo/kesz/" class="mobile-option">
                <span class="option-bullet narancsbg"></span>
                <span> Kész</span>
            </a>
        </div>
        <div class="mobile-cim" style="color:white"><span>{{ user.last_name }} {{user.first_name }}</span></div>
        <div class="mobile-options">
            <a href="{{ domain }}/fiok/" class="mobile-option">
                <span class="option-bullet" style="background-color: white;"></span>
                <span> Fiók</span>
            </a>
        </div>
    </div>

</body>
</html>