{% load auth_extras %}
<header>
    {# NAV BAR #}
    <div class="grid bal">
        <nav id="nav1">
            <ul>
                {% if request.user|has_group:"tanar" %}
                    <li><a href="/naplo/" class="adminhover">Napló</a></li>
                    <li><a href="/hazioldal/adminisztracio/" class="adminhover">Admin</a></li>
                    {% comment %} <li><a href="/hazioldal/tanar/ellenorzes/" class="adminhover">Ellenőrzés</a></li> {% endcomment %}
                    {% else %}
                    
                    <li><a href="/hazioldal/attekintes/hf/uj/" id="sajat-todo" class="sajathover">Beadandó {% if szam.hfuj > 0 %}<span class="notifications-count"><span class="text">{{ szam.hfuj }}</span></span>{% endif %} </a></li>
                    <!-- <li><a href="/hazioldal/attekintes/hf/javit/" id="sajat-javit">javításra vár {% if szam.hfjavit > 0 %}({{ szam.hfjavit }}){% endif %}</a></li> -->
                    <li><a href="/hazioldal/attekintes/hf/biral/" id="sajat-biral" class="sajathover">Mentornál {% if szam.hfbiral > 0 %}<span class="notifications-count"><span class="text">{{szam.hfbiral}} </span></span>{% endif %}</a></li>
                    <li><a href="/hazioldal/attekintes/hf/kesz/" id="sajat-kesz" class="sajathover">Kész</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="grid fokep">
        <img src="https://i.imgur.com/7XcmfAQ.png" alt="F-es logo">
    </div>
    <div class="grid kozep">
        <nav id="nav2"> 
            <ul>
                
                {% if request.user|has_group:"tanar" %}
                    <li><a href="/hazioldal/tanar/kituz/" class="adminhover">Kitűzés</a></li>
                    <li><a href="/hazioldal/tanar/ellenorzes/" class="adminhover">Ellenőrzés</a></li>
                {% else %}
                    <li><a href="/hazioldal/attekintes/mo/uj/" id="mentor-fuggo" class="mentorhover">Mentoráltnál {% if szam.mouj > 0 %}<span class="notifications-count"><span class="text">{{ szam.mouj }}</span></span>{% endif %}</a></li>
                    <li><a href="/hazioldal/attekintes/mo/biral/" id="mentor-todo" class="mentorhover">Javítanivaló {% if szam.mobiral > 0 %}<span class="notifications-count"><span class="text">{{ szam.mobiral }}</span></span>{% endif %}</a></li>
                    <li><a href="/hazioldal/attekintes/mo/kesz/" id="mentor-kesz" class="mentorhover">Kész</a></li>                             
                {% endif %}
            </ul>
        </nav> 
    </div>
    <div class="grid jobb">
        <nav> 
            <ul class="last">
                <li class="fioktext"><a href="/hazioldal/fiok/">Fiók</a></li>
            </ul>
        </nav> 
        <div class="mobilview">
            <ul id="navToggle" class="slide open" onclick="OpenMenu()">
                <li></li><li></li><li></li>
            </ul>
        </div>
    </div>
</header>
