{% load auth_extras %}
<header>
    {# NAV BAR #}
    <div class="grid bal">
        <nav id="nav1">
            <ul>
                {% if request.user|has_group:"tanar" %}
                    <li><a href="/naplo/" class="adminhover">Napló</a></li>
                    <li><a href="/hazioldal/adminisztracio/" class="adminhover">Admin</a></li>
                {% else %}
                    <li><a href="/hazioldal/mentoralt/ellenorzes/" id="sajat-todo" class="sajathover">Hf</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="grid fokep">
        <a href="/"><img src="https://i.imgur.com/7XcmfAQ.png" alt="F-es logo"></a>
    </div>
    <div class="grid kozep">
        <nav id="nav2"> 
            <ul>
                {% if request.user|has_group:"tanar" %}
                    <li><a href="/hazioldal/tanar/kituz/" class="adminhover">Kitűzés</a></li>
                    <li><a href="/hazioldal/tanar/ellenorzes/" class="adminhover">Ellenőrzés</a></li>
                {% else %}
                    <li><a href="/hazioldal/mentor/ellenorzes/" id="mentor-fuggo" class="mentorhover">Mentorálás</a></li>
                {% endif %}
            </ul>
        </nav> 
    </div>
    <div class="grid jobb">
        <nav> 
            <ul class="last">
                <li class="fioktext"><a href="/hazioldal/fiok/"><img src="https://i.imgur.com/eb504Mu.png" alt="Fiók" class="profile-icon"></a></li>
            </ul>
        </nav> 
        <div class="mobilview">
            <ul id="navToggle" class="slide open" onclick="OpenMenu()">
                <li></li><li></li><li></li>
            </ul>
        </div>
    </div>
</header>
