{% load static %}
{% load repofilterek %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {# META #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# google font import -- roboto slab #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    {# favicon.ico #}
    <link rel="shortcut icon" type="image/png" href="{% static 'pic/favicon.ico' %}"/>

    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/00_general.css' %}">
    <link rel="stylesheet" href="{% static 'css/10_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/20_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/24_hf.css' %}">
    <link rel="stylesheet" href="{% static 'css/30_footer.css' %}">

    {# JS-fájlok #}
    <script src="{% static 'js/hf.js' %}"></script>


    {# Egyéb #}
    <title>Document</title>

</head>
<body>
    {% include "10_header.html" %}

    {# MAIN #}

    <main>    
        <div class="repo-doboz">
            <a class="repo-cim keklink" href="{{ hf.kituzes.feladat.url }}">{{ hf.kituzes.feladat.nev }}</a>
            <input type="text" id="input_url" value="{{ hf.url }}" {% if not mentoralt_vagyok %} disabled {% endif %} >
            <a class="linkgomb" href="{{ hf.url }}" id="githublink" target="_blank">GitHub</a>
            {% if mentoralt_vagyok %}
                <button class="linkgomb" id="update">update</button>
            {% endif %}
            
            {% if hf.allapot == "NINCS_REPO" %}
                <span class="hf-allapot">A hf repora vár<span>
            {% elif hf.allapot == "NINCS_MO" %}
                <span class="hf-allapot">A hf megoldásra vár<span>
            {% elif hf.allapot == "NINCS_BIRALAT" %}
                <span class="hf-allapot">A hf bírálatra vár<span>
            {% elif hf.allapot == "VAN_NEGATIV_BIRALAT" %}
                <span class="hf-allapot">A mentoráltnak ki kell javítania a hibákat<span>
            {% elif hf.allapot == "MINDEN_BIRALAT_POZITIV" %}
                <span class="hf-allapot">A hf sikeresen lezárva<span>
            {% endif %}
                
        </div>
        
        {% for mobir in megoldasok_es_biralatok %}
            {% if mobir.megoldas %}
                <div class="mo-doboz">
                    <div class="mo-megj">{{ mobir.tartalom.szoveg }}</div>
                    <div class="mo-ido">{{ mobir.tartalom.hf.user.last_name }} {{ mobir.tartalom.hf.user.first_name }}, {{ mobir.tartalom.ido|ehnop }}</div>
                </div>
            {% else %}
                <div class="bi-doboz">
                    <div class="bi-megj">{{ mobir.tartalom.szoveg }}</div>
                    <div class="bi-itelet">döntés: {{ mobir.tartalom.itelet }}</div>
                    <div class="bi-ido">{{ mobir.tartalom.kozossegi_szolgalati_orak }} {{mobir.tartalom.mentor.last_name}} {{mobir.tartalom.mentor.first_name}}, {{ mobir.tartalom.ido|ehnop }}</div>
                    {% if mentor_vagyok and user == mobir.tartalom.mentor %}
                        <button class="linkgomb biralatot_torol" value="{{ mobir.tartalom.id }}">Töröl</button>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        
        {% if mentoralt_vagyok and uj_megoldast_adhatok_be %}
            <div class="mo-editor-doboz">
                <div id="mo-editor-cim">Új megoldás beadása</div>
                <textarea id="mo-editor-textarea" cols="30" rows="10"></textarea>
                <button id="bead">Bead</button>
            </div>
        {% endif %}
        
        {% if mentor_vagyok and uj_biralatot_rogzithetek %}
        <div class="bi-editor-doboz">
            <div id="bi-editor-cim">Új mentorálás rögzítése</div>
            <textarea id="bi-editor-textarea" cols="30" rows="10"></textarea>
            <select id="bi-itelet-select">
                <option value="Elfogadva">Elfogadva</option>
                <option value="Hibás">Hibás</option>
                <option value="Hiányos">Hiányos</option>
                <option value="Értékelhetetlen">Értékelhetetlen</option>
            </select>
            <button id="biral">Küld</button>
        </div>        
        {% endif %}

            
    </main>


    {# FOOTER #}

    {% include "30_footer.html" %}

</body>
</html>