{% load static %}
{% load repofilterek %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {% include "inner_head.html" %}

    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/hf.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile2.css' %}">

    {# JS-fájlok #}
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/fetch.js' %}"></script>
    <script src="{% static 'js/hf.js' %}"></script>

    {# Egyéb #}
    <title>{{ hf.kituzes.feladat.nev }}</title>

</head>
<body  onload="betolt()">
    {% include "header.html" %}
    {# MAIN #}
    <div class="bg">
    <div class="forumhatter">    
        <h1 class="cim forumcim text-center {% if mentoralt_vagyok %} kektext {%else%} narancstext {%endif%}">{{ hf.kituzes.feladat.nev }}</h1>
        <div class="separator mobile"></div>
        <div class="repo-doboz">
            <div class="menusor {% if mentoralt_vagyok %} kektext {%else%} narancstext {%endif%}">Státusz</div>
            {% if hf.allapot == "NINCS_REPO" %}
                <div class="info">A feladat repóra vár</div>
            {% elif hf.allapot == "NINCS_MO" %}
                <div class="info">A feladat megoldásra vár</div>
            {% elif hf.allapot == "NINCS_BIRALAT" %}
                <div class="info">A feladat bírálatra vár</div>
            {% elif hf.allapot == "VAN_NEGATIV_BIRALAT" %}
                <div class="info">A mentoráltnak ki kell javítania a hibákat</div>
            {% elif hf.allapot == "MINDEN_BIRALAT_POZITIV" %}
                <div class="info">A feladat sikeresen lezárva</div>
            {% endif %}
            <div class="menusor {% if mentoralt_vagyok %} kektext {%else%} narancstext {%endif%}">Határidő</div>
            {% if hf.hatarideje_lejart == False %}
                <div class="info">{{ hf.hatarido|hn }}</div>
            {% else %}
                <div class="info pirostext">{{ hf.hatarido|hn }}</div>
            {% endif %}
            <div class="menusor {% if mentoralt_vagyok %} kektext {%else%} narancstext {%endif%}">Feladat</div>
            <a href="{{ hf.kituzes.feladat.url }}" target="_blank"><button class="gomb feladat {% if mentoralt_vagyok %} kekbg {%else%} narancsbg {%endif%}">Feladatleírás megtekintése</button></a>
            <div class="menusor {% if mentoralt_vagyok %} kektext {%else%} narancstext {%endif%}">GitHub link</div>
            <input type="text" class="inputdata {% if mentoralt_vagyok %}sajat{%endif%}" id="input_url" value="{{ hf.url }}" {% if not mentoralt_vagyok %} disabled {% endif %}>
            <div class="forumbutton">
                {% if mentoralt_vagyok %}
                    <button class="gomb kekbg kisgomb" id="update" title="A repo linkjén történt változtatások mentése">
                        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1716 1C18.702 1 19.2107 1.21071 19.5858 1.58579L22.4142 4.41421C22.7893 4.78929 23 5.29799 23 5.82843V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H18.1716ZM4 3C3.44772 3 3 3.44772 3 4V20C3 20.5523 3.44772 21 4 21L5 21L5 15C5 13.3431 6.34315 12 8 12L16 12C17.6569 12 19 13.3431 19 15V21H20C20.5523 21 21 20.5523 21 20V6.82843C21 6.29799 20.7893 5.78929 20.4142 5.41421L18.5858 3.58579C18.2107 3.21071 17.702 3 17.1716 3H17V5C17 6.65685 15.6569 8 14 8H10C8.34315 8 7 6.65685 7 5V3H4ZM17 21V15C17 14.4477 16.5523 14 16 14L8 14C7.44772 14 7 14.4477 7 15L7 21L17 21ZM9 3H15V5C15 5.55228 14.5523 6 14 6H10C9.44772 6 9 5.55228 9 5V3Z" fill="#0F0F0F"/>
                        </svg>
                    </button>
                {% endif %}
                <a  href="{{ hf.url }}" title="A házi feladat repojának linkje" target="_blank" >
                    <button class="gomb kisgomb {% if mentoralt_vagyok %} kekbg {%else%} narancsbg {%endif%}" id="githublink">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    </button>
                </a>
                {% if mentoralt_vagyok %}
                    <button class="gomb kisgomb kekbg" title="Mentorok github azonosítóinak vágólapra helyezése" id="mentorcopy">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </button>
                    <button class="gomb kisgomb kekbg" title="Mentorok e-mail címeinek vágólapra helyezése" id="mentoremailcopy">
                        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <rect x="3" y="5" width="18" height="14" rx="2" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </button>
                        <a href="haladek/" title="Haladék kérése" target="_blank" >
                            <button class="gomb kisgomb kekbg" id="haladekkeres">
                                <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </a>
                {% endif %}
            </div>
            
            
            
        </div>
        {% if megoldasok_es_biralatok|length > 0 or mentoralt_vagyok %}
        <div class="separator"></div>
        
        <div class="chatflex">
            <div class="dobozok">
        {% for mobir in megoldasok_es_biralatok %}
            {% if mobir.megoldas == True %}
                <div class="megoldasdoboz doboz">
                    <div class="mo-ido">{{ mobir.tartalom.ido|ehnopegesz }}</div>
                    <div class="bubble right">
                        <div class="username-right">{{ mobir.tartalom.hf.user.last_name }} {{ mobir.tartalom.hf.user.first_name }}</div>
                        <p>
                            {{ mobir.tartalom.szoveg }}
                        </p>
                        
                    </div>
                </div>
            {% else %}
                <div class="biralatdoboz doboz">
                    <div class="bi-ido">{{ mobir.tartalom.ido|ehnopegesz }}</div>    
                    <div class="bubbleflex">   
                        <div class="bubble left">
                            <div class="username-left">{{ mobir.tartalom.mentor.last_name }} {{ mobir.tartalom.mentor.first_name }}</div>
                            <p>
                                {{ mobir.tartalom.szoveg }}
                            </p>
                            <p class="bi-itelet2">Bírálat: <span class="itelet">{{ mobir.tartalom.itelet }}</span></p>
                        </div>
                        {% if mentor_vagyok and user == mobir.tartalom.mentor %}
                        
                        <div class="bi-torol">
                            <div>
                            <button class="torolicon biralatot_torol kisgomb gomb" value="{{ mobir.tartalom.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </button>
                        </div>
                            </div>
                        {% endif %}
                    </div>
                    
                </div>
            {% endif %}
        {% endfor %}
        <div id="utolso-doboz"></div>
        </div>
        <div id="uzenet">
        {% if mentoralt_vagyok and uj_megoldast_adhatok_be %}
            <div id="mo-editor-doboz">
                <div id="mo-editor-flex">
                    <textarea id="mo-editor-textarea" placeholder="Új megoldás beküldése"></textarea>
                    <div class="mo-editor-icon kekbg transition-button-hover" id="bead">
                        <span class="input-group-text send_btn"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="black" class="bi bi-send-fill" viewBox="0 0 16 16">
                            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                        </svg></span>
                    </div>
                </div>
            </div>

        {% elif  mentoralt_vagyok %}
        <div id="mo-editor-doboz">
            <div id="mo-editor-flex">
                <textarea id="mo-editor-textarea" placeholder="Új megoldás beküldéséhez frissítsd a Github linket!" disabled></textarea>
                <div class="mo-editor-icon disabled">
                    <span class="input-group-text send_btn"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="black" class="bi bi-send-fill" viewBox="0 0 16 16">
                        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                    </svg></span>
                </div>
            </div>
        </div>
        {% endif %}
    
        {% if mentor_vagyok and uj_biralatot_rogzithetek %}
        <div id="bi-editor-doboz">
            <div id="bi-editor-flex">

                <textarea id="bi-editor-textarea" placeholder="Új mentorálás rögzítése"></textarea>
                <select id="bi-itelet-select" onchange="szinezes()">
                    <option value="Elfogadva">Elfogadva</option>
                    <option value="Hibás">Hibás</option>
                    <option value="Hiányos">Hiányos</option>
                    <option value="Értékelhetetlen">Értékelhetetlen</option>
                </select>
                <div class="bi-editor-icon narancsbg" id="biral">
                    <span class="input-group-text send_btn"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="black" class="bi bi-send-fill" viewBox="0 0 16 16">
                        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                    </svg></span>
                </div>
                
            </div>
        </div>      
        {% endif %}
        </div>
    </div>
    {%endif%}

    
</div>
</div>
{% include "mobile_nav.html" %}

</body>
</html>