{% load static %}

{# META #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# google font import -- poppins #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">

    {# favicon.ico #}
    <link rel="shortcut icon" type="image/png" href="{% static 'pic/favicon.ico' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function OpenMenu(){
          var body = $('.bg')[0];
          var header =  $('header')[0];
          var mobilebar = $('.mobile-bar')[0];
          var mobilebartop = $('.mobile-bar-top')[0];

          if ($('.mobile-bar')[0].classList[1] != "show"){
            if (screen.width<450){
              $(body).animate({right: "50%"},{queue: false });
              $(header).animate({right: "50%"},{queue: false });
              $(mobilebar).animate({right: "0"});
              $('.mobile-bar')[0].classList.toggle('show'); 
              return;
            }

              $(body).animate({right: "45%"},{queue: false });
              $(header).animate({right: "45%"},{queue: false });
              $(mobilebar).animate({right: "0"});
              $('.mobile-bar')[0].classList.toggle('show');
          }

          else{
            if (screen.width<450){
              $(body).animate({right: "0"},{queue: false });
              $(header).animate({right: "0"},{queue: false });
              $(mobilebar).animate({right: "-50%"});
              $('.mobile-bar')[0].classList.toggle('show');
              return;
            }
            $(body).animate({right: "0"},{queue: false });
            $(header).animate({right: "0"},{queue: false });
            $(mobilebar).animate({right: "-45%"});
            $('.mobile-bar')[0].classList.toggle('show');
          }
          
    }
    $( document ).ready(function() {
      if (screen.width<450)
       {
         $('.mobile-bar')[0].style.width = "50%"
         $('.mobile-bar')[0].style.right = "-50%"
         
       }
    });
    </script>