{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {% include "inner_head.html" %}

    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/hazik.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">


    {# JS-fájlok #}
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/fetch.js' %}"></script>
    <script src="{% static 'js/regisztracio.js' %}"></script>
    
    {# Egyéb #}
    <title>Regisztráció</title>

</head>
<body>
    {% include "header.html" %}


    {# MAIN #}

    <main>
        <textarea id="tabla"></textarea>
        <button id="create_user" class="linkgomb">új felhasználók</button>
        <button id="create_mentoral" class="linkgomb">mentorálási kapcsolatok</button>
    </main>


    {# FOOTER #}

    {% include "footer.html" %}

</body>
</html>