{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {% include "inner_head.html" %}

    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/hazik.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">


    {# JS-fájlok #}
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/fetch.js' %}"></script>
    <script src="{% static 'js/regisztracio.js' %}"></script>
    
    {# Egyéb #}
    <title>Regisztráció</title>

</head>
<body>
    {% include "header.html" %}


    {# MAIN #}

    <main>
        <label for="tabla" style="width:80ex;color:#474761;font-size:10pt">
            Az input szövege tabulátorokat tartalmaz, az oszlopok sorrendje mindegy, de a mezőnevek pontosan legyenek írva! 
            <br>
            A placeholderben nem szereplő mezőnevek nem zavarnak semmit.
            <br>
            Felhasználónévnek lehetőleg használjuk az email-címet!
            <br>
            Az inputmező ugyanaz, a gombok döntik el, hogy mi történjen a nyers tsv-vel.
        </label>
        <textarea cols="80" rows="11" id="tabla" placeholder="username  email   password    last_name   first_name  group
teszt_elek  teszt.elek@szlgbp.hu    halihoka    Teszt   Elek    99f
lecke.lili.99f@szlgbp.hu    lecke.lili.99f@szlgbp.hu    hipihura    Lecke   Lili    99f

### vagy mentorálási kapcsolatok felvitele esetén: 

mentor  mentoree
proba_peter teszt_elek
proba_peter lecke.lili.99f@szlgbp.hu

"></textarea>
        <button id="create_user" class="linkgomb">új felhasználók</button>
        <button id="create_mentoral" class="linkgomb">mentorálási kapcsolatok</button>
    </main>


    {# FOOTER #}

    {% include "footer.html" %}

</body>
</html>