{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {# META #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# google font import -- roboto slab #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    {# favicon.ico #}
    <link rel="shortcut icon" type="image/png" href="{% static 'pic/favicon.ico' %}"/>

    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/00_general.css' %}">
    <link rel="stylesheet" href="{% static 'css/10_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/20_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/22_hazik.css' %}">
    <link rel="stylesheet" href="{% static 'css/30_footer.css' %}">


    {# JS-fájlok #}
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/fetch.js' %}"></script>
    <script src="{% static 'js/regisztracio.js' %}"></script>
    
    {# Egyéb #}
    <title>hf</title>

</head>
<body>
    {% include "10_header.html" %}


    {# MAIN #}

    <main>
        <textarea id="tabla"></textarea>
        <button id="create_user" class="linkgomb">új felhasználók</button>
        <button id="create_mentoral" class="linkgomb">mentorálási kapcsolatok</button>
    </main>


    {# FOOTER #}

    {% include "30_footer.html" %}

</body>
</html>